---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PaperDisclaimer from '../../components/PaperDisclaimer.astro';
import PaperHistory from '../../components/PaperHistory.astro';

const EPRINT_URL = 'https://eprint.iacr.org/2010/270';
const CRAWLER = 'marker';
const CONVERTED_DATE = '2026-02-18';
const TITLE_HTML = 'Factorization of RSA-180';
const AUTHORS_HTML = 'S. A. Danilov, I. A. Popovyan Moscow State University, Russia';

const CONTENT = `    <p class="text-gray-300">S. A. Danilov, I. A. Popovyan Moscow State University, Russia</p>

    <p class="text-gray-300">May 9, 2010&lt;sup&gt;∗&lt;/sup&gt;</p>

    <h4 id="sec-1" class="text-lg font-semibold mt-6">Abstract</h4>

    <p class="text-gray-300">We present a brief report on the factorization of RSA-180, currently smallest unfactored RSA number. We show that the numbers of similar size could be factored in a reasonable time at home using open source factoring software running on a few Intel Core i7 PCs.</p>

    <h2 id="sec-2" class="text-2xl font-bold">1 Introduction</h2>

    <p class="text-gray-300">In 1991 RSA Labs published a list of semiprime numbers of different size and announced a reward for their factorization. The numbers from that list called RSA numbers became a measure of the quality of the factorization tools.</p>

    <p class="text-gray-300">We began working on our factorization project on November 2009. We started with the smallest unfactored RSA number for that moment, RSA-170, written in 170 decimal digits. The factorization was finished on 31 December 2009, then we found out that Dominik Bonenberger and Martin Krone [1] were ahead of us for two days and had already presented the RSA-170 prime decompostion. Meanwhile the new world record in factorization was set [2] – the international team of scientists managed to factor the RSA-768, a 232 decimal digits long RSA number.</p>

    <p class="text-gray-300">On January 2010 after a short break we decided to continue the project and took the number</p>

    <p class="text-gray-300">RSA-180 = 191147927718986609689229466631454649812986246 276667354864188503638807260703436799058776201 365135161278134258296128109200046702912984568 752800330221777752773957404540495707851421041,</p>

    <p class="text-gray-300">the next smallest RSA number with unknown factorization.</p>

    <p class="text-gray-300">&lt;sup&gt;∗&lt;/sup&gt;Revised at 13.04.2010</p>

    <h3 id="sec-3" class="text-xl font-semibold mt-8">2 Factorization of RSA-180</h3>

    <p class="text-gray-300">Our tools for factorization are essentially based on two open source implementations of General Number Field Sieve (GNFS) algorithm – the community maintained GGNFS suite [3] and Jason Papadopoulos's msieve [4]. We adopted them for parallel computations using MPI and tested on two independent platforms:</p>

    <ul class="list-disc list-inside space-y-1 text-gray-300 my-2 ml-4">
      <li><ol class="list-decimal list-inside space-y-1 text-gray-300 my-2 ml-4">
      <li>24 virtual processors of 3 Intel Core i7 4GHz PCs with 6Gb RAM connected over Gigabit Etherenet and running open source MPI implementation MPICH2 [5],</li>
    </ol></li>
      <li><ol class="list-decimal list-inside space-y-1 text-gray-300 my-2 ml-4">
      <li>100 virtual processors of Moscow State University supercomputer SKIF MSU 'Chebyshov' [6].</li>
    </ol></li>
    </ul>

    <p class="text-gray-300">The GNFS algorithm has 4 major steps: polynomial selection, sieving and post-processing, solving sparse linear system, square root extraction. Let us make a few comments on each of them in our parallel GNFS implementation.</p>

    <h3 id="sec-4" class="text-xl font-semibold mt-8">2.1 Polynomial selection</h3>

    <p class="text-gray-300">Although J. Papadopoulos implemented a very nice polynomial selection algorithm on nVidia CUDA architecture we decided to parallelize the J.Franke and T. Kleinjung's pol5 tool from the GGNFS suite so we were able to run it on both platforms.</p>

    <p class="text-gray-300">The parallelization was trivial, basicly we've rewritten the perl script coming with the <em>GGNFS</em> suite and equally divided the highest polynomial coefficient search interval between parallel processors. This technique is not very efficient since the 'good' polynomials are not equally distributed on each subinterval and therefore many of the processors are underloaded. However this was a good start and allowed us to find after 12 days on platform 1 and 13 days on platform 2 a few polynomial pairs of almost equal quality, the best of which was</p>

    <pre><code class="language-text">\\begin{array}{rcl} a(x) &amp; = &amp; 7563318480x^5 \\\\ &amp; &amp; + 17595930596689122x^4 \\\\ &amp; &amp; - 39645427355913493154751x^3 \\\\ &amp; &amp; - 17198395720703347534221482658x^2 \\\\ &amp; &amp; + 17747480317181638340745152993046310x \\\\ &amp; &amp; - 717997517149198776797652540283041093812, \\\\ r(x) &amp; = &amp; 6387961227166713233237x \\\\ &amp; &amp; - 7595061086400998499293221500552275. \\end{array}
</code></pre>

    <p class="text-gray-300">with skew 1090750.</p>

    <h4 id="sec-5" class="text-lg font-semibold mt-6">2.2 Sieving and post-processing</h4>

    <p class="text-gray-300">A modified version of GGNFS's lattice siever lasieve4I15 was used for sieving stage. The parallelization was again very simple – the special-q interval [5135 ·</p>

    <p class="text-gray-300"><span class="math">10^4, 35135 \\cdot 10^4</span> ] was equally splitted between the processors. Both large prime bounds were set to  <span class="math">2^{31}</span> . The stage took 63 days on platform 1 and 26 days on platform 2 and resulted in 192 and 198 million of partial relations stored in about 21,5 Gb file.</p>

    <p class="text-gray-300">The post-processing stage was done by the latest msieve and after 2 hours on single processor of platform 1 and 4 hours on single processor of platform 2 reduced the problem on platform 1 to the linear system of size  <span class="math">21414654 \\times 21414832</span>  and weight 2028585084. There was a small oversieving on platform 2 resulted in slightly different matrix size  <span class="math">20572576 \\times 20572753</span>  and weight 1955919707.</p>

    <h2 id="sec-6" class="text-2xl font-bold">2.3 Solving linear system</h2>

    <p class="text-gray-300">We implemented a parallel version of P. Montgomery block Lanczos algorithm [7] based on the implementation from the <em>msieve</em>. It was taking some time to write it and remembering the previous experience with the RSA-170 we decided to launch the matrix step on the single processor of platform 1 using the 4-thread <em>msieve</em> while debugging the parallel one on the platform 2.</p>

    <p class="text-gray-300">The matrix step finished in 33 days on platform 1 and gave us 31 nontrivial dependencies. The parallel version on platform 2 finished in 24 days and showed that the implementation wasn't good enough since the expected speedup was a square root of a number of processors. Currently we are working on the further speedup of the parallel version of Montgomery's block Lanczos algorithm.</p>

    <h2 id="sec-7" class="text-2xl font-bold">2.4 Square root extraction</h2>

    <p class="text-gray-300">The square root extraction stage was done purely by <em>msieve</em> and took 10 hours on the single processor of platform 1 and 19 hours on the single processor of platform 2.</p>

    <p class="text-gray-300">After all the stages we found that RSA-180 = pq, where</p>

    <p class="text-gray-300"><span class="math">p = \\begin{array}{c} 400780082329750877952581339104100572526829317 \\\\ 815807176564882178998497572771950624613470377 \\end{array}</span></p>

    <p class="text-gray-300">and</p>

    <p class="text-gray-300"><span class="math">q = \\begin{array}{c} 476939688738611836995535477357070857939902076 \\\\ 027788232031989775824606225595773435668861833. \\end{array}</span></p>

    <p class="text-gray-300">The factorizations of  <span class="math">p \\pm 1</span>  and  <span class="math">q \\pm 1</span>  can be found in Appendix A.</p>

    <h4 id="sec-8" class="text-lg font-semibold mt-6">3 Conclusions</h4>

    <p class="text-gray-300">We used freely available open source tools to factor RSA-180 on 3 Intel Core i7 PCs and the supercomputer SKIF MSU 'Chebyshov'. The whole process took a comparable time on both platforms: although the sieving stage was more efficient on supercomputer due to a bigger number of processors, all the other stages were more efficient on the Intel Core i7 PC. This means that nowdays</p>

    <p class="text-gray-300">for about $3000 one can buy a computational power comparable to the small supercomputer and factor numbers of about 180 decimal digits in 3 months.</p>

    <h4 id="sec-9" class="text-lg font-semibold mt-6">Acknowledgements</h4>

    <p class="text-gray-300">The authors are grateful to J. Papadopoulos for the brilliant implementation of the GNFS in his msieve software: it was a pleasure to read and understand your code. We thank all the maintainers of the GGNFS and Chris Monico personally for giving everybody a good starting point in all factorization projects. The second author also thanks the Research Computing Center of M.V. Lomonosov Moscow State University for the access to the supercomputer SKIF MSU 'Chebyshev'.</p>

    <h2 id="sec-10" class="text-2xl font-bold">References</h2>

    <ul class="list-disc list-inside space-y-1 text-gray-300 my-2 ml-4">
      <li>[1] Dominik Bonenberger, Martin Krone, Factorization of RSA-170, http:// public.rz.fh-wolfenbuettel.de/~kronema/pdf/rsa170.pdf</li>
      <li>[2] Thorsten Kleinjung, Kazumaro Aoki, Jens Franke, Arjen Lenstra, Emmanuel Thome, Joppe Bos, Pierrick Gaudry, Alexander Kruppa, Peter Montgomery, Dag Arne Osvik, Herman te Riele, Andrey Timofeev and Paul Zimmermann, Factorization of a 768-bit RSA modulus, http://eprint. iacr.org/2010/006</li>
      <li>[3] C. Monico et al., GGNFS suite, http://sourceforge.net/projects/ ggnfs/</li>
      <li>[4] J. Papadopoulos, msieve, http://sourceforge.net/projects/msieve/</li>
      <li>[5] MPICH2 http://www.mcs.anl.gov/research/projects/mpich2/</li>
      <li>[6] Moscow State University supercomputer SKIF MSU 'Chebyshov' http:// parallel.ru/cluster/ (in russian)</li>
      <li>[7] P.L. Montgomery, A Block Lanczos Algorithm for Finding Dependencies over GF(2), Advances in Cryptology, EUROCRYPT '95, Springer, Berlin, 1995, 106-120.</li>
    </ul>

    <p class="text-gray-300">The factorizations of  <span class="math">p\\pm 1</span>  and  <span class="math">q\\pm 1</span>  are as follows</p>

    <pre><code class="language-text">p-1 = 2^3 \\times
             74051 \\times
             571409 \\times
             118396302321376822252686398515336778055028140925367145504
             7486308276274179178583,
p+1 = 2 \\times
            3 \\times
             7 \\times
             11 \\times
             631 \\times
             757661 \\times
             80415217\\times
             43164234793001183523080176706701\\times
             522754256877405520606972067650473564077,
q-1 = 2^3 \\times
             277 \\times
             751 \\times
            47779 \\times
             88291435965578199481003 \\times
            67935712535668043985232693389634831578450559709946498371.
q+1 = 2 \\times
            3 \\times
             13 \\times
             29\\times
             40780001\\times
            9488340193 \\times
             36601837387 \\times
             14887798995502551010395541052456872321039885951355136372877.\\\\
</code></pre>

`;
---

<BaseLayout title="Factorization of RSA-180 (2010/270)">
  <article class="max-w-4xl mx-auto article-prose">
    <nav class="mb-8">
      <a href="/papers" class="text-blue-400 hover:text-blue-300">
        &larr; Back to Papers
      </a>
    </nav>

    <header class="mb-12">
      <h1 class="text-3xl font-bold mb-4"
        set:html={TITLE_HTML} />
      <p class="text-gray-400 mb-2"
        set:html={AUTHORS_HTML} />
      <p class="text-gray-500 text-sm mb-4">
        2010 &middot; eprint 2010/270
      </p>
      <div class="flex gap-4 text-sm">
        <a
          href={EPRINT_URL}
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-400 hover:text-blue-300"
        >
          Paper (eprint) &rarr;
        </a>
      </div>
      <PaperDisclaimer eprintUrl={EPRINT_URL} />
      <p class="mt-1 text-xs text-gray-600">
        Converted with: {CRAWLER} &middot; {CONVERTED_DATE}
      </p>
    </header>

    <Fragment set:html={CONTENT} />

    <PaperHistory slug="factorization-of-rsa-180-2010" />
  </article>
</BaseLayout>
