---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PaperDisclaimer from '../../components/PaperDisclaimer.astro';
import PaperHistory from '../../components/PaperHistory.astro';

const EPRINT_URL = 'https://eprint.iacr.org/2013/816';
const CRAWLER = 'modal-marker';
const CONVERTED_DATE = '2026-02-18';
const TITLE_HTML = 'Fast Prime Field Elliptic Curve Cryptography with 256 Bit Primes';
const AUTHORS_HTML = 'Shay Gueron, Vlad Krasnov';

const CONTENT = `    <section id="abstract" class="mb-10">
      <h2 class="text-2xl font-bold">Abstract</h2>
      <p class="text-gray-300">This paper studies software optimization of Elliptic Curve Cryptography with 256-bit prime fields. We propose a constant-time implementation of the NIST and SECG standardized curve P-256, that can be seamlessly integrated into OpenSSL. This accelerates Perfect Forward Secrecy TLS handshakes that use ECDSA and/or ECDHE, and can help improving the efficiency of TLS servers. We report significant performance improvements for ECDSA and ECDH, on several architectures. For example, on the latest Intel Haswell microarchitecture, our ECDSA sign is 2.33x faster than OpenSSL&rsquo;s implementation.</p>
    </section>

    <section id="sec-9" class="mb-10">
      <h2 class="text-2xl font-bold">9 Discussion</h2>

    <p class="text-gray-300">Using a combination of algorithmic and software implementation improvements, we considerably sped up the ECC operations with the NIST <em>P-256</em> curve. We also showed that this optimization provides a significant improvement at the server's performance level. This makes ECC with this NIST prime more attractive to use.</p>

    <p class="text-gray-300">One of the properties of the NIST 256-bit prime, which we used for optimizing the underlying computations, was that  <span class="math">p_{256}</span>  is an MF prime. However, this property is not unique for the NIST prime, and any ECC standard that uses an MF prime can enjoy the same optimization (of course, with the correct pre-computed tables being used, but this does not affect the resulting performance). Interestingly, there is already such a standardized case, namely the Chinese SM2 public key standard [6]. The relevant SM2 parameters are shown is Fig. 11.</p>

    <pre><code class="language-text">\\begin{array}{lll} p &amp;=&amp; 2^{256}-2^{225}+2^{224}-2^{96}+2^{64}-1 \\\\ &amp; \\text{FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF
</code></pre>

    <p class="text-gray-300"><strong>Fig. 11.</strong> The recommended parameters of the State Public Key Cryptographic Algorithm SM2 for public key [6], using a 256-bit Elliptic Curve Cryptography [5]. Note that is satisfies a=p-3, and that the prime is an MF prime. This implies that all of the optimizations proposed here can be equally applied to this standard (with the appropriate pre-computed tables).</p>

    <p class="text-gray-300">The implementation described in this paper can be seamlessly integrated into the OpenSSL library, as demonstrated in [10]. The code was contributed as a patch [10], for integration as a whole or in parts, for the benefit the open source community.</p>

    <p class="text-gray-300">We conclude with a word of caution with regards to intellectual properties and elliptic curves cryptography. The information in this paper is provided as is. No license (expressed or implied) to any intellectual property right is granted by this paper. The authors and Intel assume no liability whatsoever and disclaim any expressed or implied warranty, including liability or warranties relating to fitness for a particular purpose, merchantability, or infringement of any patent, copyright, or other intellectual property rights.</p>

    </section>

    <section id="references" class="mb-10">
      <h2 class="text-2xl font-bold"><strong>References</strong></h2>

    <ul class="space-y-2 text-gray-400 text-sm list-none">
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>Acii&ccedil;mez, O., Gueron, S., Seifert, J.P.: New Branch Prediction Vulnerabilities in Open SSL and Necessary Software Countermeasures. In: Galbarith, S.D (ed.) Cryptography and Coding. LNCS, vol. 4887, pp. 185--203. Springer, Heidelberg (2007).</li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>Barker, E., Roginsky, A.: Transitions: Recommendation for Transitioning the Use of Cryptographic Algorithms and Key Lengths. NIST Special Publication 800-131A, NIST (2011)<a href="http://csrc.nist.gov/publications/nistpubs/800-131A/sp800-131A.pdf" target="_blank" rel="noopener noreferrer">, http://csrc.nist.gov/publications/nistpubs/800-131A/sp800-131A.pdf</a></li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>Booth, A.D.: A Signed Binary Multiplication Technique. In: The Quarterly Journal of Mechanics and Applied Mathematics, 4(2), pp. 236--240. Oxford University Press, Oxford (1951).</li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>Brent, R., Zimmermann, P.: Modern Computer Arithmetic. In: Cambridge Monographs on Computational and Applied Mathematics (No. 18). Cambridge University Press, Cambridge (2010).</li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>China Cryptography Administration: SM2 Elliptic curve recommended parameters (in Chinese)<a href="http://www.oscca.gov.cn/UpFile/2010122214836668.pdf" target="_blank" rel="noopener noreferrer">. http://www.oscca.gov.cn/UpFile/2010122214836668.pdf</a></li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>China Cryptography Administration: State Public Key Cryptographic Algorithm SM2 Based on Elliptic Curves (in Chinese). (December 2010), <a href="http://www.oscca.gov.cn/UpFile/2010122214822692.pdf" target="_blank" rel="noopener noreferrer">http://www.oscca.gov.cn/UpFile/2010122214822692.pdf</a></li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>Dierks, T., Rescorla, E.: The Transport Layer Security (TLS) Protocol Version 1.2. IETF RFC5246. IETF (2008),<a href="http://tools.ietf.org/html/rfc5246" target="_blank" rel="noopener noreferrer">http://tools.ietf.org/html/rfc5246</a></li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>Gueron, S., Krasnov, V.: [PATCH] Efficient and side channel analysis resistant 1024-bit and 2048-bit modular exponentiation, optimizing RSA, DSA and DH of compatible sizes, for AVX2 capable x86_64 platforms. OpenSSL patch (May 2013), <a href="http://rt.openssl.org/Ticket/Display.html?id=3054&user=guest&pass=guest" target="_blank" rel="noopener noreferrer">http://rt.openssl.org/Ticket/Display.html?id=3054&amp;user=guest&amp;pass=guest</a></li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>Gueron, S.: Efficient Software Implementations of Modular Exponentiation. In: Journal of Cryptographic Engineering, vol. 2, pp. 31--43. Springer, Heidelberg (2012).</li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>Gueron, S., Krasnov, V.: [PATCH] Fast and side channel protected implementation of the NIST P-256 Elliptic Curve, for x86-64 platforms. OpenSSL patch (October 2013), http://rt.openssl.org/Ticket/Display.html?id=3149&amp;user=guest&amp;pass=guest</li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>Greenwald, G., MacAskill, E.: NSA Prism program taps in to user data of Apple, Google and others. In: The Guardian (June 2013), <a href="http://www.theguardian.com/world/2013/jun/06/us-tech-giants-nsa-data" target="_blank" rel="noopener noreferrer">http://www.theguardian.com/world/2013/jun/06/us-tech-giants-nsa-data</a></li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>Intel: Intel&reg; Architecture Instruction Set Extensions Programming Reference. <a href="http://download-software.intel.com/sites/default/files/319433-015.pdf" target="_blank" rel="noopener noreferrer">http://download-software.intel.com/sites/default/files/319433-015.pdf</a>(July 2013).</li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>K&auml;sper, E.: Fast Elliptic Curve Cryptography in OpenSSL. In: Danezis, G., Dietrich, S., Sako, K. (eds.) Financial Cryptography and Data Security. LNCS, vol. 7126, pp. 27--39. Springer, Heidelberg (2012).</li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>Langley, A.: Protecting data for the long term with forward secrecy. In: Google Online Security Blog (November 2011),</li>
    </ul></li>
    </ul>

    <p class="text-gray-300">http://googleonlinesecurity.blogspot.co.il/2011/11/protecting-data-for-long-term-with.html</p>

    <ul class="space-y-2 text-gray-400 text-sm list-none">
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>Montgomery, P.L.: Modular Multiplication without Trial Division. In: Mathematics of Computation, vol. 44, pp. 519--521. (1985).</li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>NIST: Mathematical routines for the NIST prime elliptic curves. (April 2010), <a href="http://www.nsa.gov/ia/_files/nist-routines.pdf" target="_blank" rel="noopener noreferrer">http://www.nsa.gov/ia/\\_files/nist-routines.pdf</a></li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>NSS, Mozilla, https://developer.mozilla.org/en/docs/NSS</li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>OpenSSL git repository,<a href="http://git.openssl.org/gitweb/" target="_blank" rel="noopener noreferrer">http://git.openssl.org/gitweb/</a></li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>Renfro, S.: Secure browsing by default. In: Facebook, Facebook Engineering, <a href="https://www.facebook.com/notes/facebook-engineering/secure-browsing-by-default/10151590414803920" target="_blank" rel="noopener noreferrer">https://www.facebook.com/notes/facebook-engineering/secure-browsing-by</a><a href="https://www.facebook.com/notes/facebook-engineering/secure-browsing-by-default/10151590414803920" target="_blank" rel="noopener noreferrer">default/10151590414803920</a></li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>Satler, M., Housley, R.: Suite B Profile for Transport Layer Security (TLS). IETF RFC6460. IETF (January 2012),<a href="http://tools.ietf.org/html/rfc6460" target="_blank" rel="noopener noreferrer">http://tools.ietf.org/html/rfc6460</a></li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>Solinas, J.A.: Generalized Mersenne Numbers. Technical Report, Center for Applied Cryptographic Research. University of Waterloo (1999).</li>
    </ul></li>
    </ul>

    <h2 id="sec-misc-1" class="text-2xl font-bold"><strong>Appendix A</strong></h2>

    <p class="text-gray-300">The configuration details of the platform that was used for the system profiling experiment:</p>

    <p class="text-gray-300"><strong>CPU:</strong> Engineering sample of Intel microarchitecture codename Haswell, native speed of 2.9GHz, 4 cores 8 threads. For the experiment, we disabled 3 out of 4 cores and underclocked the CPU to 1 GHz, this helps eliminating the network bottleneck.</p>

    <p class="text-gray-300"><strong>Memory:</strong> 8GB DDR3 1600MHz, two channel configuration.</p>

    <p class="text-gray-300"><strong>Hard Drive:</strong> Intel SSD X25-M 80GB.</p>

    <p class="text-gray-300"><strong>Software:</strong> Apache server version 2.4.4; OpenSSL development version (from September 9, 2013).</p>

    <p class="text-gray-300"><strong>Network:</strong> Engineering sample of Intel 10Gbit Ethernet adapter</p>

    </section>
`;
---

<BaseLayout title="Fast Prime Field Elliptic Curve Cryptography with 256 Bit Pr... (2013/816)">
  <article class="max-w-4xl mx-auto article-prose">
    <nav class="mb-8">
      <a href="/papers" class="text-blue-400 hover:text-blue-300">
        &larr; Back to Papers
      </a>
    </nav>

    <header class="mb-12">
      <h1 class="text-3xl font-bold mb-4"
        set:html={TITLE_HTML} />
      <p class="text-gray-400 mb-2"
        set:html={AUTHORS_HTML} />
      <p class="text-gray-500 text-sm mb-4">
        2013 &middot; eprint 2013/816
      </p>
      <div class="flex gap-4 text-sm">
        <a
          href={EPRINT_URL}
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-400 hover:text-blue-300"
        >
          Paper (eprint) &rarr;
        </a>
      </div>
      <PaperDisclaimer eprintUrl={EPRINT_URL} />
      <p class="mt-1 text-xs text-gray-600">
        Converted with: {CRAWLER} &middot; {CONVERTED_DATE}
      </p>
    </header>

    <Fragment set:html={CONTENT} />

    <PaperHistory slug="fast-prime-field-elliptic-curve-cryptography-with-256-bit-2013" />
  </article>
</BaseLayout>
