---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PaperDisclaimer from '../../components/PaperDisclaimer.astro';
import PaperHistory from '../../components/PaperHistory.astro';

const EPRINT_URL = 'https://eprint.iacr.org/2007/192';
const CRAWLER = 'marker';
const CONVERTED_DATE = '2026-02-16';
const TITLE_HTML = 'Optimal Irreducible Polynomials for GF(2^m) Arithmetic';
const AUTHORS_HTML = 'Michael Scott';

const CONTENT = `    <section id="abstract" class="mb-10">
      <h2 class="text-2xl font-bold">Abstract</h2>
      <p class="text-gray-300">The irreducible polynomials recommended for use by multiple standards documents are in fact far from optimal on many platforms. Specifically they are suboptimal in terms of performance, for the
computation of field square roots and in the application of the \`\`almost inverse&#x27;&#x27; field inversion algorithm. In this paper we question the need for the standardisation of irreducible polynomials in the first place, and derive the \`\`best&#x27;&#x27; polynomials to use depending on the underlying processor architecture.
Surprisingly it turns out that a trinomial polynomial is in many cases not necessarily the best choice.
Finally we make some specific recommendations for some particular types of architecture.</p>
      <p class="text-gray-300"><strong>Keywords:</strong> Irreducible polynomials &middot; implementation</p>
    </section>

    <section id="sec-1" class="mb-10">
      <h2 class="text-2xl font-bold">1 Introduction</h2>

    <p class="text-gray-300">The main application of F2<sup>m</sup> arithmetic (where m is an odd prime) is in elliptic curve cryptography [11], although recently it has also found constructive application in pairing-based cryptography, specifically in the implementation of the &eta;<sup>T</sup> pairing, which is one of the fastest known [5]. Clearly we would like the underlying F2<sup>m</sup> arithmetic to be implemented as efficiently as possible.</p>

    <p class="text-gray-300">Elements in F2<sup>m</sup> can be represented as a multi-precision string of bits, each bit representing a coefficient in a polynomial of degree at most (m &minus; 1), a so-called polynomial basis representation. The field is specified in conjunction with an irreducible polynomial, and multiplication of field elements is performed modulo this irreducible polynomial.</p>

    <p class="text-gray-300">Addition of field polynomials is a simple coefficient-by-coefficient XOR operation. By grouping coefficients into blocks, each block the size of one computer word of w bits, the addition can be carried out using dm/we word XOR operations, an operation supported by all computer architectures. This can be thought of as the same as multiprecision integer addition, without the carries.</p>

    <p class="text-gray-300">Multiplication can be performed using the standard school-boy long multiplication algorithm, where in the calculation of each partial product carries are simply ignored. The carry-free nature of this type of arithmetic can be an advantage (implementing multiplication using Karatsuba's algorithm for example is much simpler and faster), and a disadvantage (most architectures do not support carry-free word multiplications).</p>

    <p class="text-gray-300">Squaring is much faster than multiplication &ndash; it can be achieved by simply inserting a zero between each coefficient. Multiplication or squaring both result in a polynomial of degree at most 2m &minus; 2, and it is this polynomial which must be reduced modulo the irreducible polynomial. And it is this reduction process which is the focus of this paper.</p>

    <p class="text-gray-300">For security reasons the parameter m is chosen as a prime number. Certain fields are recommended for use in elliptic curve cryptography in popular standards. For example Certicom in their &quot;Standards for Efficient Cryptography&quot; (available from www.secg.org) recommend m &isin; {113, 131, 163, 193, 233, 239, 283, 409, 571}, and it is these fields that we will focus on here. They also insist on specific irreducible polynomials for each case (&quot;... must use [these] reduction polynomials ... to encourage interoperability&quot;), although interestingly they offer a choice of two polynomials for the case of m = 239, on the grounds that both have been commonly used in practise.</p>

    <p class="text-gray-300">Unfortunately the recommended irreducible polynomials have several disadvantages</p>

    <ul class="list-disc list-inside space-y-1 text-gray-300 my-2 ml-4">
      <li>Few of them are optimal in terms of the actual implementation of the reduction algorithm on popular architectures.</li>
      <li>Few are suitable for the calculation of field square roots, which is required for elliptic curve point halving operations [4], and for the &eta;<sup>T</sup> pairing [5].</li>
      <li>Many are unsuitable for use with the almost inverse algorithm for field inversion [11].</li>
    </ul>

    <p class="text-gray-300">The reason for the standardisation of irreducible polynomials is that the represention of field elements depends upon it. Therefore it is important for example in a communications protocol in which field elements are transmitted from one party to another, that all participants are aware of the irreducible polynomial in use by the others. However it is a simple matter to include the parameters that define the irreducible polynomial as part of the domain information which each participant needs to aware of anyway. In this case the irreducible polynomial might be chosen to facilitate the participant with the lowest computational power, and hence in most need of an optimal choice of polynomial. Alternatively, one can change from one polynomial representation to another should that be necessary as described in [13], section A.7. The change of basis algorithm is a little awkward, and requires a precomputed m &times; m bit conversion matrix. It could represent a significant overhead for a poorly-resourced processor, and so should only be expected of the more powerful protocol participants.</p>

    <p class="text-gray-300">The fact that standard elliptic curve domain parameters are described in terms of the standard polynomials presents a barrier to converting them to a more suitable polynomial, and most implementors just stick with the standard polynomials for implementation as well as for representation.</p>

    </section>

    <section id="sec-2" class="mb-10">
      <h2 class="text-2xl font-bold">2 Irreducible polynomials</h2>

    <p class="text-gray-300">For the field F2<sup>m</sup> it is in practise always possible to chooose as an irreducible polynomial either a trinomial</p>

    <p class="text-gray-300"><span class="math">$x^m + x^a + 1</span>$</p>

    <p class="text-gray-300">or a pentanomial</p>

    <p class="text-gray-300"><span class="math">$x^m + x^a + x^b + x^c + 1</span>$</p>

    <p class="text-gray-300">In both cases the optimal reduction algorithm is linear and fast compared to the worse-than-linear multiplication algorithm. For efficiency the reduction algorithm of choice [11] requires that m &minus; a &ge; w.</p>

    <p class="text-gray-300">In [8] it is stated that &quot;performance reasons impose that irreducible polynomials have the shortest number of non-zero terms&quot;, and it appears to be a commonly held view that trinomials are better than pentanomials. As we shall see this is not necessarily the case.</p>

    <p class="text-gray-300">The standard polynomials are selected according to the following criteria (with the exception of one of the m = 239 polynomials). If a trinomial exists, the trinomial with the smallest value for a is chosen. Otherwise the pentanomial is chosen with the smallest a, then the smallest b given a, and then the smallest c given a and b. Given these rules it is relatively easy to find the standard polynomial for any value of m. They are also most likely to fulfil the condition that m&minus;a &ge; w. There is also a widespread belief that such polynomials are also in some sense optimal. For example Ahmadi and Menezes [3] suggest a construction where the middle terms are &quot;all of relatively low degree and are close to each other, which in turn facilitates efficient multiplication of polynomials modulo f(x)&quot;.</p>

    <p class="text-gray-300">However there does not seem to be any basis for this suggestion for software implementations, although it may have merit in hardware. For example, as we shall see, the standard polynomial for F<sup>2</sup> <sup>283</sup> is far from being optimal, despite adhering to these recommendations.</p>

    <p class="text-gray-300">Recently there have emerged applications in which it is important that square rooting should be fast, specifially point halving algorithms for fast elliptic curve point multiplication [4], [11], and the &eta;<sup>T</sup> pairing [5]. Fast square rooting requires that a (and b and c for a pentanomial) must all be odd [10]. Such polynomials are easy to find, but unfortunately most of the standard polynomials are not of this form [4].</p>

    <p class="text-gray-300">It has been known for some time that the Schroeppel et al. &quot;almost inverse&quot; algorithm for field inversions is more efficient if a &ge; w for a trinomial, and c &ge; w for a pentanomial [14] (although in [10] a couple of strategies due to Knudsen and Schroeppel are described which can to an extent circumvent this restriction). Many of the standard irreducible polynomials do not satisfy this condition, although in practise it may be that this algorithm is not the algorithm of choice [11]. Nonetheless the authors of [14] complain that &quot;Unfortunately, most of the field polynomials specified in ANSI X9.62 do have terms of low degree. This increases the timings of the almost inverse algorithm by up to 30%. Therefore, we conclude that the choice of polynomials in ANSI X9.62 is rather unfortunate, and may be revised if that is practically feasible.&quot;.</p>

    <p class="text-gray-300">A third, and hitherto largely neglected, issue is that of performance. Although the reduction algorithm is always fast compared with multiplication, it applies also to squarings. One of the advantages of using methods based on F2<sup>m</sup> fields is that squarings are potentially so fast. But if the reduction algorithm is slow this advantage will be offset.</p>

    </section>

    <section id="sec-3" class="mb-10">
      <h2 class="text-2xl font-bold">3 An Example</h2>

    <p class="text-gray-300">For the field F<sup>2</sup> <sup>163</sup> the standard irreducible polynomial is x <sup>163</sup> +x <sup>7</sup> +x <sup>6</sup> +x <sup>3</sup> + 1. The reduction algorithm as described by Hankerson et al. in section 2.3.5 of [11] for a 32-bit processor is illustrated in Algorithm 1.</p>

    <pre><code class="language-text">Algorithm 1 Fast reduction modulo f(x) = x
                                                 163 + x
                                                        7 + x
                                                              6 + x
                                                                   3 + 1
Input: A binary polynomial represented as 11 32-bit words g[.]
Output: g[.] reduced modulo f(x), represented as 6 32-bit words
1: for i &larr; 10 downto 6 do
2: t &larr; g[i]
3: g[i] &larr; 0
4: g[i &minus; 6] &larr; g[i &minus; 6] &oplus; (t &iquest; 29)
5: g[i &minus; 5] &larr; g[i &minus; 5] &oplus; (t &iquest; 4) &oplus; (t &iquest; 3) &oplus; t &oplus; (t &Agrave; 3)
6: g[i &minus; 4] &larr; g[i &minus; 4] &oplus; (t &Agrave; 28) &oplus; (t &Agrave; 29)
7: end for
8: t &larr; g[5] &Agrave; 3
9: g[0] &larr; g[0] &oplus; t
10: t &larr; (t &iquest; 3)
11: g[1] &larr; g[1] &oplus; (t &Agrave; 28) &oplus; (t &Agrave; 29)
12: g[0] &larr; g[0] &oplus; t &oplus; (t &iquest; 4) &oplus; (t &iquest; 3)
13: g[5] &larr; g[5] &oplus; t
</code></pre>

    <p class="text-gray-300">After the loop there is some tidying-up to be done to deal with the most significant word of the result. Concentrating on the time-critical loop, unrolling it (and omitting for clarity the rest of the algorithm) we get Algorithm 2.</p>

    <p class="text-gray-300">Note that this requires 30 word shift operations 35 word XORs, which can be considered as 5 times the 6 shifts and 7 XORs required by each iteration of the loop.</p>

    <p class="text-gray-300">Now consider a different irreducible polynomial, f(x) = x <sup>163</sup> + x <sup>99</sup> + x <sup>97</sup> + x <sup>3</sup> + 1. The equivalent algorithm is shown in Algorithm 3.</p>

    <p class="text-gray-300">In both cases the number of memory reads and writes are the same. However it is clear from inspection alone that this last algorithm will be faster. In fact it requires only 20 word shifts and 30 XORs, or 5 times the 4 shifts and 6 XORs required by each iteration of the loop. To understand the reasons for</p>

    <h4 id="sec-misc-1" class="text-lg font-semibold mt-6">Algorithm 2 Loop-unrolled reduction modulo f(x) = x <sup>163</sup> + x <sup>7</sup> + x <sup>6</sup> + x <sup>3</sup> + 1 Input: A binary polynomial represented as 11 32-bit words g[.] Output: g[.] partially reduced modulo f(x), represented as 6 32-bit words 1: g<sup>10</sup> &larr; g[10], g<sup>9</sup> &larr; g[9], g<sup>8</sup> &larr; g[8], g<sup>7</sup> &larr; g[7], g<sup>6</sup> &larr; g[6]</h4>

    <pre><code class="language-text">2: g[10] &larr; g[9] &larr; g[8] &larr; g[7] &larr; g[6] &larr; 0
</code></pre>

    <p class="text-gray-300">3:
<span class="math">$g_6 \\leftarrow g_6 \\oplus (g_{10} \\gg 28) \\oplus (g_{10} \\gg 29)</span>$</p>

    <p class="text-gray-300">4:
<span class="math">$g[5] \\leftarrow g[5] \\oplus (g_{10} \\gg 3) \\oplus (g_{10} \\ll 4) \\oplus (g_{10} \\ll 3) \\oplus g_{10} \\oplus (g_{9} \\gg 28) \\oplus (g_{9} \\gg 29)</span>$</p>

    <p class="text-gray-300">5:
<span class="math">$g[4] \\leftarrow g[4] \\oplus (g_{10} \\ll 29) \\oplus (g_9 \\gg 3) \\oplus (g_9 \\ll 4) \\oplus (g_9 \\ll 3) \\oplus g_9 \\oplus (g_8 \\gg 28) \\oplus (g_8 \\gg 29)</span>$</p>

    <p class="text-gray-300">6:
<span class="math">$g[3] \\leftarrow g[3] \\oplus (g_9 \\ll 29) \\oplus (g_8 \\gg 3) \\oplus (g_8 \\ll 4) \\oplus (g_8 \\ll 3) \\oplus g_8 \\oplus (g_7 \\gg 28) \\oplus (g_7 \\gg 29)</span>$</p>

    <p class="text-gray-300">7:
<span class="math">$g[2] \\leftarrow g[2] \\oplus (g_8 \\ll 29) \\oplus (g_7 \\gg 3) \\oplus (g_7 \\ll 4) \\oplus (g_7 \\ll 3) \\oplus g_7 \\oplus (g_6 \\gg 28) \\oplus (g_6 \\gg 29)</span>$</p>

    <p class="text-gray-300">8:
<span class="math">$g[1] \\leftarrow g[1] \\oplus (g_7 \\ll 29) \\oplus (g_6 \\gg 3) \\oplus (g_6 \\ll 4) \\oplus (g_6 \\ll 3) \\oplus g_6</span>$</p>

    <p class="text-gray-300">9:
<span class="math">$g[0] \\leftarrow g[0] \\oplus (g_6 \\ll 29)</span>$</p>

    <h4 id="sec-misc-2" class="text-lg font-semibold mt-6">Algorithm 3 Loop-unrolled reduction modulo f(x) = x <sup>163</sup> + x <sup>99</sup> + x <sup>97</sup> + x <sup>3</sup> + 1</h4>

    <pre><code class="language-text">Input: A binary polynomial represented as 11 32-bit words g[.]
</code></pre>

    <p class="text-gray-300">Output: g[.] partially reduced modulo f(x), represented as 6 32-bit words</p>

    <pre><code class="language-text">1: g10 &larr; g[10], g9 &larr; g[9], g8 &larr; g[8], g7 &larr; g[7], g6 &larr; g[6]
</code></pre>

    <p class="text-gray-300">2:
<span class="math">$g[10] \\leftarrow g[9] \\leftarrow g[8] \\leftarrow g[7] \\leftarrow g[6] \\leftarrow 0</span>$</p>

    <p class="text-gray-300">3:
<span class="math">$g_8 \\leftarrow g_8 \\oplus g_{10} \\oplus (g_{10} \\gg 2)</span>$</p>

    <p class="text-gray-300">4:
<span class="math">$g_7 \\leftarrow g_7 \\oplus (g_{10} \\ll 30) \\oplus g_9 \\oplus (g_9 \\gg 2)</span>$</p>

    <p class="text-gray-300">5:
<span class="math">$g_6 \\leftarrow g_6 \\oplus (g_9 \\ll 30) \\oplus g_8 \\oplus (g_8 \\gg 2)</span>$</p>

    <p class="text-gray-300">6:
<span class="math">$g[5] \\leftarrow g[5] \\oplus (g_{10} \\gg 3) \\oplus g_{10} \\oplus (g_8 \\ll 30) \\oplus g_7 \\oplus (g_7 \\gg 2)</span>$</p>

    <p class="text-gray-300">7:
<span class="math">$g[4] \\leftarrow g[4] \\oplus (g_{10} \\ll 29) \\oplus (g_9 \\gg 3) \\oplus g_9 \\oplus (g_7 \\ll 30) \\oplus g_6 \\oplus (g_6 \\gg 2)</span>$</p>

    <p class="text-gray-300">8:
<span class="math">$g[3] \\leftarrow g[3] \\oplus (g_9 \\ll 29) \\oplus (g_8 \\gg 3) \\oplus g_8 \\oplus (g_6 \\ll 30)</span>$</p>

    <p class="text-gray-300">9:
<span class="math">$g[2] \\leftarrow g[2] \\oplus (g_8 \\ll 29) \\oplus (g_7 \\gg 3) \\oplus g_7</span>$</p>

    <p class="text-gray-300">10:
<span class="math">$g[1] \\leftarrow g[1] \\oplus (g_7 \\ll 29) \\oplus (g_6 \\gg 3) \\oplus g_6</span>$</p>

    <p class="text-gray-300">11:
<span class="math">$g[0] \\leftarrow g[0] \\oplus (g_6 \\ll 29)</span>$</p>

    <p class="text-gray-300">the speed up, consider the constants that arise in the shift operations. These are the numbers m mod w, w &minus; (m mod w), m &minus; a mod w, w &minus; (m &minus; a mod w), m &minus; b mod w, w &minus; (m &minus; b mod w), m &minus; c mod w and w &minus; (m &minus; c mod w). So for the standard polynomial these values in pairs are (3, 29), (28, 4), (29, 3), and (0, 32) respectively. For the fortuitous values of 0 and 32 that arise in this case, the former implies no shifting, and the latter, a shift by the word length, results in a zero. This piece of luck results in a saving of 1 XOR and 2 shifts per loop iteration.</p>

    <p class="text-gray-300">Our selection of irreducible polynomial is based on the idea of &quot;making our own luck&quot; in the choice of irreducible polynomial. In our case the shift values are (3, 29), (0, 32), (30, 2), and (0, 32) and this explains the savings achieved. Given that m is odd our chances of being lucky like this can only improve if we insist that a, b and c are also all chosen to be odd.</p>

    <p class="text-gray-300">We note that this same idea is also alluded to in recent papers by Ahmadi et al [1], section 4.2, and by Hankerson and Rodr&acute;&#305;guez-Henr&acute;&#305;quez [12], who also independently suggested the use of the polynomial x <sup>163</sup> + x <sup>99</sup> + x <sup>97</sup> + x <sup>3</sup> + 1.</p>

    </section>

    <section id="sec-4" class="mb-10">
      <h2 class="text-2xl font-bold">4 Further analysis</h2>

    <p class="text-gray-300">We define a trinomial where m &minus; a &equiv; 0 mod w as a lucky trinomial (LT), and a trinomial for which this condition does not hold as an ordinary trinomial (OT). We define a pentanomial where m &minus; a &equiv; m &minus; b &equiv; m &minus; c &equiv; 0 mod w as a lucky pentanomial (LP). A pentanomial for which two out of three of these values is congruent to zero is called a fortunate pentanomial (FP), the rest are ordinary pentanomials (OP). In general, as we will see, a lucky trinomial beats a lucky pentanomial, which beats an ordinary trinomial, which in turn beats a fortunate pentanomial. Whereas a lucky trinomial is relatively rare, a lucky pentanomial can often be found, and hence in many cases the pentanomial is superior to a trinomial.</p>

    <p class="text-gray-300">Is an irreducible lucky pentanomial always possible? The answer is no &ndash; a lucky irreducible pentanomial is not possible for any wordlength w which is a multiple of 4 if m &equiv; &plusmn;3 mod 8, as a direct consequence of a recent theorem of Buhler [6], [2]. Of course all popular computer word-lengths are a multiple of 4 (typically 8, 16, 32 or 64).</p>

    <p class="text-gray-300">However under the same circumstances useful irreducible trinomials do not exist either [7], and so in these cases we must be satisfied with a fortunate pentanomial (if we can find one).</p>

    <p class="text-gray-300">When lucky pentanomials do exist for m &equiv; &plusmn;1 mod 8, we get the added bonus on a small eight bit processor that the shifts by m mod w and w&minus;m mod w, are in fact shifts by 1-bit and 7-bits (or visa versa), which are likely to be efficient.</p>

    <p class="text-gray-300">Note that these definitions are word-length dependant. So whereas a lucky trinomial might exist for one wordlength, it may not be so lucky for a larger wordlength.</p>

    <p class="text-gray-300">Finally we should point out that there is another way to be lucky. It is possible that for example m &minus; a &equiv; m &minus; b mod w. These means that the same shifted values can be re-used, with some savings.</p>

    </section>

    <section id="sec-5" class="mb-10">
      <h2 class="text-2xl font-bold">5 Some real-world architectures</h2>

    <p class="text-gray-300">Of course the significance of all these potential savings depends on the particular computer architecture. In this paper we consider four representative real-world examples.</p>

    <ul class="list-disc list-inside space-y-1 text-gray-300 my-2 ml-4">
      <li>A 32-bit Pentium or MIPS type of processor, which has fast 1-cycle XOR and shift instructions. We ignore the fact that these architectures often support multiple pipelines &ndash; we will assume that execution time is simply preportional to the total number of such instructions (but given the complexity of this architecture and its many variations, we recognise that this may be a rather reckless assumption).</li>
      <li>A 32-bit ARM processor. This architecture supports a &quot;barrel shifter&quot;, and an XOR instruction for example can at no extra cost shift one of its operands by any number of bits. Therefore shifts are effectively free on this architecture.</li>
      <li>A Texas Instruments ultra-low power msp430 16-bit processor, as used in wireless sensor networks. This architecture supports a 1 cycle XOR instruction, but has only a 1-bit shift instruction. Therefore shifts by multiple bits require multiple instructions. Fortunately the instruction set does allow a 1-cycle byte swap within a register, and simple masking instructions, which means that for example an 8-bit left shift of a 16-bit register can be accomplished in 2 instructions.</li>
      <li>An Atmel Atmega128 low power 8-bit processor, another favourite for applications in wireless sensor networks. Again a 1-cycle 1-bit shift operation is supported, along with a 1-cycle nibble swap within a register, as well as register masking.</li>
    </ul>

    <p class="text-gray-300">To find the optimal irreducible polynomial in any particular circumstance, we cost each XOR and shift operation appropriately. An XOR always has a cost of 1. A shift may have a cost of zero (for the ARM), or a larger cost. In the case of the msp430 processor the costs are given in Table 1.</p>

    <p class="text-gray-300">On this architecture right shifts can be slightly more expensive than left shifts, as all rotates and right shifts are through the carry flag, and this must be cleared to obtain a logical right shift as required here. However this only applies to the first of a sequence of right shifts. Note that if the algorithm needs a left-shift by 3, and also a left shift of the same value by 4 within a single iteration, then we assume a compiler will be smart enough to shift once by 3 and follow that by a further shift by 1 bit. A shift left by 15 bits is best achieved by a rotate right followed by a masking. Similar methods can be deployed for the Atmel 8-bit processor, and the costs of shifts for this processor are given in Table 2.</p>

    <p class="text-gray-300">Table 1. Shift cost in clock cycles for msp430 16-bit processor</p>

    <div class="overflow-x-auto my-4">
      <table class="min-w-full text-sm text-gray-300">
        <thead>
            <th class="px-3 py-2 border-b border-gray-600 font-semibold text-left">Shift size</th>
            <th class="px-3 py-2 border-b border-gray-600 font-semibold text-left">Left shift</th>
            <th class="px-3 py-2 border-b border-gray-600 font-semibold text-left">Right shift</th>
        </thead>
        <tbody>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">1</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">1</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">2</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">2</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">2</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">3</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">3</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">3</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">4</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">4</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">4</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">5</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">5</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">5</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">6</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">6</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">6</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">7</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">7</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">5</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">5</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">8</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">2</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">2</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">9</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">3</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">3</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">10</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">4</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">4</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">11</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">5</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">5</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">12</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">6</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">6</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">13</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">5</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">5</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">14</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">4</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">4</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">15</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">3</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">3</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p class="text-gray-300">Table 2. Shift cost in clock cycles for Atmega128 8-bit processor</p>

    <div class="overflow-x-auto my-4">
      <table class="min-w-full text-sm text-gray-300">
        <thead>
            <th class="px-3 py-2 border-b border-gray-600 font-semibold text-left">Shift size</th>
            <th class="px-3 py-2 border-b border-gray-600 font-semibold text-left">Left shift</th>
            <th class="px-3 py-2 border-b border-gray-600 font-semibold text-left">Right shift</th>
        </thead>
        <tbody>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">1</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">1</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">1</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">2</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">2</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">2</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">3</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">3</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">3</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">4</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">2</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">2</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">5</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">3</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">3</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">6</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">4</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">4</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">7</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">3</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">3</td>
          </tr>
        </tbody>
      </table>
    </div>

    </section>

    <section id="sec-6" class="mb-10">
      <h2 class="text-2xl font-bold">6 Results</h2>

    <p class="text-gray-300">For each candidate irreducible trinomial and pentanomial we calculate the associated costs and we select the cheapest, depending on the cost function that applies for that architecture. Recall that an irreducible polynomial which is good for a 16-bit processor may not be so good for a 32-bit processor, for example (m &minus; a) may be a multiple of 16, but not of 32. In some cases the outcome is not clear-cut, as it would depend for example on whether or not there would be an intention to use the &quot;almost inverse&quot; algorithm. In the case of more than one solution with the same cost, we favour the solution that is friendly for the &quot;almost inverse&quot; algorithm. We do however insist that all exponents in the irreducible polynomial are odd, given the recently realised significance of field square roots. In any case, in no instances were optimal polynomials found with any even exponents.</p>

    <p class="text-gray-300">Some notable outcomes</p>

    <ul class="list-disc list-inside space-y-1 text-gray-300 my-2 ml-4">
      <li>In some cases a pentanomial may be cheaper than a trinomial. In fact for the msp430 architecture a trinomial is never optimal for the fields considered here. However some algorithms (other than the reduction algorithm) may be more efficient with a trinomial, so there may still be reasons for preferring a trinomial if one should exist. For the Atmel 8-bit processor, trinomials make something of a come-back, as for the first time we find some lucky trinomials.</li>
      <li>The &quot;folklore&quot; requirement that for a pentanomial irreducible polynomial the middle terms (a, b and c) being close to one another and small leads to a more efficient algorithm, does not appear to have any validity.</li>
    </ul>

    <p class="text-gray-300">Consider for example the field F<sup>2</sup> <sup>233</sup> . This supports the trinomial x <sup>233</sup>+x <sup>159</sup>+ 1. However for the Pentium cost model the pentanomial x <sup>233</sup>+x <sup>201</sup>+x <sup>105</sup>+x <sup>9</sup>+1 is superior. Note that (233-201), (233-105) and (233-9) are all multiples of 32. Whereas the trinomial requires 4 XORS and 4 shifts per loop iteration, the pentanomial costs 5 XORS and only 2 shifts. However for the ARM model the trinomial is still superior as shifts are free. For the msp430 an optimal polynomial is x <sup>233</sup> + x <sup>185</sup> + x <sup>121</sup> + x <sup>105</sup> + 1. In this case we do find a solution which also accomodates the &quot;almost inverse&quot; algorithm. Note that in no cases are the middle terms particularly close to one another.</p>

    <p class="text-gray-300">Avanzi [4] suggests choosing the square-root friendly irreducible polynomials with odd exponents and the least degree sediment, that is with the smallest size of a. However there seems to be no compelling reason for doing so. For the m = 163 case the cost as we calculate it is even greater with this choice than that for the standard polynomial. See Appendix A for a worked example of the square root algorithm.</p>

    </section>

    <section id="sec-7" class="mb-10">
      <h2 class="text-2xl font-bold">7 Redundant Trinomials</h2>

    <p class="text-gray-300">In a recent paper Doche [9], building on earlier work by Brent and Zimmerman [7], has suggested the use of redundant trinomials in place of pentanomials. However our surprising observation that pentanomials can actually be faster than</p>

    <p class="text-gray-300">Table 3. Optimal irreducible polynomials for Pentium-type 32-bit processor</p>

    <div class="overflow-x-auto my-4">
      <table class="min-w-full text-sm text-gray-300">
        <thead>
            <th class="px-3 py-2 border-b border-gray-600 font-semibold text-left">m</th>
            <th class="px-3 py-2 border-b border-gray-600 font-semibold text-left">Optimal polynomial</th>
            <th class="px-3 py-2 border-b border-gray-600 font-semibold text-left">Cost of this polynomial</th>
            <th class="px-3 py-2 border-b border-gray-600 font-semibold text-left">standard polynomial</th>
            <th class="px-3 py-2 border-b border-gray-600 font-semibold text-left">Type</th>
        </thead>
        <tbody>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">113</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">113 +<br>15 + 1<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">8</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">8</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">OT</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">131</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">131 +<br>97 +<br>65 +<br>3 + 1<br>x<br>x<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">11</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">13</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">OP</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">163</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">163 +<br>99 +<br>97 +<br>3 + 1<br>x<br>x<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">10</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">13</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">FP</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">193</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">193 +<br>73 + 1<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">8</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">8</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">OT</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">233</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">233 +<br>201 +<br>105 +<br>9 + 1<br>x<br>x<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">7</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">8</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">LP</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">239</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">239 +<br>207 +<br>111 +<br>47 + 1<br>x<br>x<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">7</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">8</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">LP</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">283</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">283 +<br>249 +<br>219 +<br>27 + 1<br>x<br>x<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">10</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">16</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">FP</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">409</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">409 +<br>377 +<br>185 +<br>57 + 1<br>x<br>x<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">7</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">8</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">LP</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">571</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">571 +<br>507 +<br>475 +<br>417 + 1<br>x<br>x<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">10</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">16</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">FP</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p class="text-gray-300">Table 4. Optimal irreducible polynomials for ARM-type 32-bit processor</p>

    <div class="overflow-x-auto my-4">
      <table class="min-w-full text-sm text-gray-300">
        <thead>
            <th class="px-3 py-2 border-b border-gray-600 font-semibold text-left">m</th>
            <th class="px-3 py-2 border-b border-gray-600 font-semibold text-left">Optimal polynomial</th>
            <th class="px-3 py-2 border-b border-gray-600 font-semibold text-left">Cost of this polynomial</th>
            <th class="px-3 py-2 border-b border-gray-600 font-semibold text-left">standard polynomial</th>
            <th class="px-3 py-2 border-b border-gray-600 font-semibold text-left">Type</th>
        </thead>
        <tbody>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">113</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">113 +<br>15 + 1<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">4</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">4</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">OT</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">131</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">131 +<br>99 +<br>97 +<br>95 + 1<br>x<br>x<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">7</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">7</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">OP</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">163</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">163 +<br>99 +<br>97 +<br>3 + 1<br>x<br>x<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">6</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">7</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">FP</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">193</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">193 +<br>73 + 1<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">4</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">4</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">OT</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">233</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">233 +<br>159 + 1<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">4</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">4</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">OT</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">239</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">239 +<br>203 + 1<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">4</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">4</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">OT</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">283</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">283 +<br>249 +<br>219 +<br>27 + 1<br>x<br>x<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">6</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">8</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">FP</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">409</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">409 +<br>87 + 1<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">4</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">4</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">OT</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">571</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">571 +<br>507 +<br>475 +<br>417 + 1<br>x<br>x<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">6</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">8</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">FP</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p class="text-gray-300">Table 5. Optimal irreducible polynomials for msp430 16-bit processor</p>

    <div class="overflow-x-auto my-4">
      <table class="min-w-full text-sm text-gray-300">
        <thead>
            <th class="px-3 py-2 border-b border-gray-600 font-semibold text-left">m</th>
            <th class="px-3 py-2 border-b border-gray-600 font-semibold text-left">Optimal polynomial</th>
            <th class="px-3 py-2 border-b border-gray-600 font-semibold text-left">Cost of this polynomial</th>
            <th class="px-3 py-2 border-b border-gray-600 font-semibold text-left">standard polynomial</th>
            <th class="px-3 py-2 border-b border-gray-600 font-semibold text-left">Type</th>
        </thead>
        <tbody>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">113</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">113 +<br>97 +<br>65 +<br>33 + 1<br>x<br>x<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">10</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">13</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">LP</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">131</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">131 +<br>115 +<br>81 +<br>67 + 1<br>x<br>x<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">16</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">22</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">FP</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">163</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">163 +<br>131 +<br>129 +<br>115 + 1<br>x<br>x<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">16</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">22</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">FP</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">193</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">193 +<br>145 +<br>129 +<br>113 + 1<br>x<br>x<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">10</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">12</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">LP</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">233</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">233 +<br>185 +<br>121 +<br>105 + 1<br>x<br>x<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">13</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">16</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">LP</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">239</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">239 +<br>207 +<br>111 +<br>47 + 1<br>x<br>x<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">9</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">13</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">LP</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">283</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">283 +<br>225 +<br>203 +<br>107 + 1<br>x<br>x<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">17</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">33</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">FP</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">409</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">409 +<br>377 +<br>185 +<br>57 + 1<br>x<br>x<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">13</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">19</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">LP</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">571</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">571 +<br>507 +<br>475 +<br>417 + 1<br>x<br>x<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">17</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">31</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">FP</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p class="text-gray-300">Table 6. Optimal irreducible polynomials for Atmega128 8-bit processor</p>

    <div class="overflow-x-auto my-4">
      <table class="min-w-full text-sm text-gray-300">
        <thead>
            <th class="px-3 py-2 border-b border-gray-600 font-semibold text-left">m</th>
            <th class="px-3 py-2 border-b border-gray-600 font-semibold text-left">Optimal polynomial</th>
            <th class="px-3 py-2 border-b border-gray-600 font-semibold text-left">Cost of this polynomial</th>
            <th class="px-3 py-2 border-b border-gray-600 font-semibold text-left">standard polynomial</th>
            <th class="px-3 py-2 border-b border-gray-600 font-semibold text-left">Type</th>
        </thead>
        <tbody>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">113</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">113 +<br>9 + 1<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">7</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">7</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">LT</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">131</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">131 +<br>115 +<br>81 +<br>67 + 1<br>x<br>x<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">13</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">15</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">FP</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">163</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">163 +<br>131 +<br>129 +<br>115 + 1<br>x<br>x<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">13</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">17</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">FP</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">193</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">193 +<br>73 + 1<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">7</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">11</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">LT</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">233</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">233 +<br>185 +<br>121 +<br>105 + 1<br>x<br>x<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">9</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">12</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">LP</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">239</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">239 +<br>207 +<br>111 +<br>47 + 1<br>x<br>x<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">9</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">12</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">LP</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">283</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">283 +<br>249 +<br>219 +<br>27 + 1<br>x<br>x<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">13</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">20</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">FP</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">409</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">409 +<br>377 +<br>185 +<br>57 + 1<br>x<br>x<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">9</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">11</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">LP</td>
          </tr>
          <tr>
            <td class="px-3 py-2 border-b border-gray-700 text-left">571</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">571 +<br>507 +<br>475 +<br>417 + 1<br>x<br>x<br>x<br>x</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">13</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">21</td>
            <td class="px-3 py-2 border-b border-gray-700 text-left">FP</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p class="text-gray-300">trinomials rather undermines the basis of their results. Certainly for applications in cryptography the premise [7] that pentanomials are &quot;considerably more expensive in applications&quot; is not supported. Nevertheless there may be cases where a redundant trinomial (or indeed pentanomial) may be superior to the irreducible polynomials suggested here. For example, for the trickly m = 163 case the lucky redundant pentanomial x <sup>165</sup> + x <sup>69</sup> + x <sup>37</sup> + x <sup>5</sup> + 1 is superior in all cases.</p>

    <p class="text-gray-300">In practice any small improvement possible with redundant polynomials may be more than offset by the extra complications involved in field element comparisons, inversions and by the requirement for possibly one or more extra computer words to be added to the field representation [9]. Note our extra condition that m and a be odd further constrains the choice of redundant trinomials, so many of the solutions presented in [9] are unsuitable.</p>

    </section>

    <section id="sec-8" class="mb-10">
      <h2 class="text-2xl font-bold">8 Conclusions</h2>

    <p class="text-gray-300">In the light of recent developments the irreducible polynomials as recommended in some standards are in urgent need of an overhaul. In fact we would argue that the choice of irreducible polynomial should be left to the implementor, and that issues that arise from the use of different irreducible polynomials by communicating parties should be dealt with in some other way other than through standardisation.</p>

    <p class="text-gray-300">We have derived polynomials that, when used for modular reduction, are in all cases at least as fast (and often much faster) than those suggested in the standards. We have also described a simple methodology for determining the best polynomial to use in any given circumstance, using a simple and easy to develop costing model. All of our suggested polynomials support a very fast field square root operation, and there seems to be no good reason not to use a square-root friendly polynomial in all cases.</p>

    <p class="text-gray-300">Alternatively, based on the method described here, it might be possible to come up with good compromise irreducible polynomials, which while not necessarily being optimal in all cases, would nevertheless be an improvement on the current standards. As can be seen from the tables above, all agree on the optimal irreducible polynomial for the case m = 571, and there are other examples of majority agreement for other values of m.</p>

    </section>

    <section id="sec-9" class="mb-10">
      <h2 class="text-2xl font-bold">9 Acknowledgments</h2>

    <p class="text-gray-300">Thanks are due to Darrel Hankerson and an anonymous referee of an early draft who pointed out to me the work of Brent and Zimmerman [7] and Doche [9].</p>

    </section>

    <section id="references" class="mb-10">
      <h2 class="text-2xl font-bold">References</h2>

    <ul class="space-y-2 text-gray-400 text-sm list-none">
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>O. Ahmadi, D. Hankerson, and A. Menezes. Software implementation of arithmetic in GF(3<sup>m</sup>). CACR Technical Reports, 2007. http://www.cacr.math.uwaterloo. ca/techreports/2005/cacr2007-15.pdf.</li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>O. Ahmadi and A. Menezes. Irreducible polynomials of maximum weight. CACR Technical Reports, 2005. http://www.cacr.math.uwaterloo.ca/techreports/ 2005/cacr2005-01.pdf.</li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>O. Ahmadi and A. Menezes. On the number of trace-one elements in polynomial bases for GF(2<sup>m</sup>). Designs, Codes and Cryptography, 37:493&ndash;507, 2005.</li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>R. Avanzi. A note on square roots in binary fields. Cryptology ePrint Archive, Report 2007/103, 2007. http://eprint.iacr.org/2007/103.</li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>P.S.L.M. Barreto, S. Galbraith, C. OhEigeartaigh, and M. Scott. Efficient pairing computation on supersingular abelian varieties. Designs, Codes and Cryptography, 42:239&ndash;271, 2007. http://eprint.iacr.org/2004/375.</li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>A. W. Bluher. A Swan-like theorem. Finite Fields Appl., 12:128&ndash;138, 2006.</li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>R. Brent and P. Zimmerman. Algorithms for finding almost irreducible and almost primitive trinomials. Proceedings of a conference in honour of Professor H.C. Williams, 2003. http://web.comlab.ox.ac.uk/oucl/work/richard.brent/ pd/rpb212.pdf.</li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>M. Ciet, J. J. Quisquater, and F. Sica. A short note on irreducible trinomials in binary fields. Proceedings of the 23rd Symposium on Information Theory in the Benelux, 2002. citeseer.ist.psu.edu/559928.html.</li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>C. Doche. Redundant trinomials for finite fields of characteristic 2. In ACISP 2005, volume 3574 of Lecture Notes in Computer Science, pages 122&ndash;133. Springer-Verlag, 2005.</li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>K. Fong, D. Hankerson, J. L&acute;opez, and A. Menezes. Field inversion and point halving revisited. Technical report CORR 2003-18, University of Waterloo, 2002.</li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>D. Hankerson, A. Menezes, and S. Vanstone. Guide to Elliptic Curves Cryptography. Springer, 2004.</li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>D. Hankerson and F. Rodr&acute;&#305;guez-Henr&acute;&#305;quez. Parallel formulation of scalar multiplication on koblitz curves. CACR Technical Reports, 2007. http://www.cacr. math.uwaterloo.ca/techreports/2005/cacr2007-18.pdf.</li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>IEEE Computer Society, New York, USA. IEEE Standard Specifications for Public-Key Cryptography &ndash; IEEE Std 1363:2000, 2000. http://grouper.ieee. org/groups/1363.</li>
    </ul></li>
      <li><ul class="space-y-2 text-gray-400 text-sm list-none">
      <li>P. De Win, S. Mister, B. Preneel, and M. Wiener. On the performance of signature schemes based on elliptic curves. In ANTS, 3rd International Symposium, volume 1423 of Lecture Notes in Computer Science, pages 252&ndash;266. Springer-Verlag, 1998.</li>
    </ul></li>
    </ul>

    </section>

    <section id="app-a" class="mb-10">
      <h2 class="text-2xl font-bold">A Calculating square roots</h2>

    <p class="text-gray-300">As pointed out by Fong et al. [10] if using an irreducible polynomial with all odd exponents, for example the trinomial x <sup>m</sup> + x <sup>a</sup> + 1, and setting &zeta; = x (m+1)/<sup>2</sup> + x (a+1)/2 , then a field square root can be expressed as</p>

    <p class="text-gray-300"><span class="math">$\\sqrt{\\alpha} = \\alpha_{even} + \\zeta.\\alpha_{odd}</span>$</p>

    <p class="text-gray-300">where &alpha;even are the even indexed bits of &alpha; collapsed into a half-sized bit array, and &alpha;odd are the odd indexed bits again collapsed into a half-sized bit array. The multiplication by the term x (m+1)/<sup>2</sup> of &zeta; is performed by simply abutting &alpha;odd onto &alpha;even as the higher order bits of the final result. The multiplication of &alpha;odd by the other term(s) of &zeta; must then be finally dealt with, and the amount of work required for this step depends to an extent on the particular irreducible polynomial. Note that no reduction of the resulting polynomial is required, as it will be of degree m &minus; 1.</p>

    <p class="text-gray-300">To extract the odd and even indices of &alpha;, small look-up tables can be used. For example the byte 01111011 needs to be split into evens 1101 and odds 0111, and so 256 element tables can be pre-computed, with evens[123]=13 and odds[123]=7 etc.</p>

    <p class="text-gray-300">In this context being &quot;lucky&quot; as regards an irreducible trinomial, requires that (m + 1)/2 and (a+ 1)/2 are multiples of the word length. Now consider the case m = 271, and the lucky pentanomial x <sup>271</sup> + x <sup>207</sup> + x <sup>175</sup> + x <sup>111</sup> + 1. Here as it happens we are doubly lucky as (m + 1)/2, (a + 1)/2, (b + 1)/2 and (c + 1)/2 are all multiples of 16, which is good news for a computer with a word length of 16 or 8 bits. Below we present the C code for calculating a field square root on an 8-bit processor, where the input is an array alpha[.] of 34 bytes and the square root is an array beta[.] also of 34 bytes (and initially cleared to zero).</p>

    <pre><code class="language-text">for (i=0;i&lt;34;i++)
{
   n=i/2;
   w=alpha[i]; /* get a byte of alpha[.] */
   we=evens[w]; /* extract 4 even bits */
   wo=odds[w]; /* extract 4 odd bits */
   i++;
   w=alpha[i]; /* get another byte of alpha */
   we|=(evens[w]&lt;&lt;4); /* create 8 bits of evens */
   wo|=(odds[w]&lt;&lt;4); /* create 8 bits of odds */
   beta[n]^=we; /* store evens */
   beta[n+17]=wo; /* abutt odds */
   beta[n+13]^=wo; /* multiply by other terms of zeta */
   beta[n+11]^=wo;
   beta[n+7]^=wo;
}
</code></pre>

    </section>
`;
---

<BaseLayout title="Optimal Irreducible Polynomials for GF(2^m) Arithmetic (2007/192)">
  <article class="max-w-4xl mx-auto article-prose">
    <nav class="mb-8">
      <a href="/papers" class="text-blue-400 hover:text-blue-300">
        &larr; Back to Papers
      </a>
    </nav>

    <header class="mb-12">
      <h1 class="text-3xl font-bold mb-4"
        set:html={TITLE_HTML} />
      <p class="text-gray-400 mb-2"
        set:html={AUTHORS_HTML} />
      <p class="text-gray-500 text-sm mb-4">
        2007 &middot; eprint 2007/192
      </p>
      <div class="flex gap-4 text-sm">
        <a
          href={EPRINT_URL}
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-400 hover:text-blue-300"
        >
          Paper (eprint) &rarr;
        </a>
      </div>
      <PaperDisclaimer eprintUrl={EPRINT_URL} />
      <p class="mt-1 text-xs text-gray-600">
        Converted with: {CRAWLER} &middot; {CONVERTED_DATE}
      </p>
    </header>

    <nav id="toc" class="mb-10 p-6 rounded-lg" style="background: rgba(255,255,255,0.03); border: 1px solid rgba(255,255,255,0.06);">
      <h2 class="text-lg font-bold mb-4">Table of Contents</h2>
      <ol class="space-y-1 text-sm text-gray-300
        list-decimal list-inside">
        <li><a href="#sec-1" class="hover:text-white">Introduction</a></li>
        <li><a href="#sec-2" class="hover:text-white">Irreducible polynomials</a></li>
        <li><a href="#sec-3" class="hover:text-white">An Example</a></li>
        <li><a href="#sec-4" class="hover:text-white">Further analysis</a></li>
        <li><a href="#sec-5" class="hover:text-white">Some real-world architectures</a></li>
        <li><a href="#sec-6" class="hover:text-white">Results</a></li>
        <li><a href="#sec-7" class="hover:text-white">Redundant Trinomials</a></li>
        <li><a href="#sec-8" class="hover:text-white">Conclusions</a></li>
        <li><a href="#sec-9" class="hover:text-white">Acknowledgments</a></li>
      </ol>
      <p class="text-xs text-gray-500 mt-4 mb-1 font-semibold">
        Appendices
      </p>
      <ol class="space-y-1 text-sm text-gray-400
        list-[upper-alpha] list-inside">
        <li><a href="#app-a" class="hover:text-white">Calculating square roots</a></li>
      </ol>
      <p class="text-xs text-gray-500 mt-4 mb-1 font-semibold">
        Additional
      </p>
      <ul class="space-y-1 text-sm text-gray-400
        list-disc list-inside">
        <li><a href="#references" class="hover:text-white">References</a></li>
      </ul>
    </nav>


    <Fragment set:html={CONTENT} />

    <PaperHistory slug="optimal-irreducible-polynomials-for-gf-2m-arithmetic-2007" />
  </article>
</BaseLayout>
