---
import BaseLayout from '../../layouts/BaseLayout.astro';

const EPRINT_URL = 'https://eprint.iacr.org/2017/1199';
const CRAWLER = 'mistral';
const CONVERTED_DATE = '2026-02-16';
const TITLE_HTML = 'Quantum Key-recovery Attack on Feistel Structures';
const AUTHORS_HTML = 'Xiaoyang Dong, Xiaoyun Wang';

const CONTENT = `    <p class="text-gray-300">SCIENCE CHINA Information Sciences RESEARCH PAPER</p>

    <p class="text-gray-300">Xiaoyang DONG<span class="math">^{1}</span> &amp; Xiaoyun WANG<span class="math">^{1,2*}</span></p>

    <p class="text-gray-300"><span class="math">^{1}</span>Institute for Advanced Study, Tsinghua University, P. R. China; <span class="math">^{2}</span>Key Laboratory of Cryptologic Technology and Information Security, Ministry of Education, Shandong University, P. R. China {xiaoyangdong,xiaoyunwang}@tsinghua.edu.cn</p>

    <p class="text-gray-300">Received ; accepted</p>

    <p class="text-gray-300">Abstract Post-quantum cryptography has drawn considerable attention from cryptologists on a global scale. At Asiacrypt 2017, Leander and May combined Grover's and Simon's quantum algorithms to break the FX-based block ciphers, which were introduced by Kilian and Rogaway to strengthen DES. In this study, we investigate the Feistel constructions using Grover's and Simon's algorithms to generate new quantum key-recovery attacks on different rounds of Feistel constructions. Our attacks require <span class="math">2^{nr/4 - 3n/4}</span> quantum queries to break an <span class="math">r</span>-round Feistel construction. The time complexity of our attacks is less than that observed for quantum brute-force search by a factor of <span class="math">2^{0.75n}</span>. When compared with the best classical attacks, i.e., Dinur et al.'s attacks at CRYPTO 2015, the time complexity is reduced by a factor of <span class="math">2^{0.5n}</span> without incurring any memory cost.</p>

    <p class="text-gray-300">Keywords Quantum cryptanalysis, Quantum key-recovery, Feistel structure, Simon, Grover</p>

    <p class="text-gray-300">Citation Dong X Y, Wang X Y. Quantum key-recovery attack on Feistel structures. Sci China Inf Sci, 2016, (): xxxxxx, doi: xxxxxxxxxxxxxxx</p>

    <p class="text-gray-300">Due to the rapid development of quantum computers, the security of classical cryptographic schemes is heavily debated. The most severe and notable threat is the Shor's algorithm [1] which breaks the most currently used public-key systems (such as the RSA [2] and elliptic-curve cryptosystems). Recently, researchers have observed that quantum computing not only impacts public key cryptography, but also breaks several secret key schemes in polynomial time, such as Even-Mansour block ciphers [3, 4] and some widely used modes of operation for authentication and authenticated encryption (e.g. CBC-MACs, PMAC, GMAC, etc.) [5]. Investigation of the security of several classical and relevant cryptographic schemes against quantum attacks is urgently required. At Asiacrypt 2017, Moody [6] on behalf of National Institute of Standards and Technology (NIST) reported the ongoing competition for post-quantum cryptographic algorithms, including signatures, encryptions, and key-establishments. The ship for post-quantum crypto has sailed, cryptographic communities should become ready to welcome the post-quantum age.</p>

    <p class="text-gray-300">In case of a quantum computer, the adversaries were able to generate quantum queries on some superposition quantum states of the relevant cryptosystem, which is the so-called quantum chosen-plaintext</p>

    <p class="text-gray-300">*Corresponding author (email: xiaoyunwang@tsinghua.edu.cn)</p>

    <p class="text-gray-300">Dong X Y, et al. Sci China Inf Sci</p>

    <p class="text-gray-300">!<a href="img-0.jpeg">img-0.jpeg</a> Figure 1 The ith round of the Feistel structure</p>

    <p class="text-gray-300">attacks (qCPA) [7]. It is known that using the Grover's algorithm [8] could accelerate the brute force search. Given an  <span class="math">m</span> -bit key, the Grover's algorithm allows for the recovery of the key using  <span class="math">\\mathcal{O}(2^{m/2})</span>  quantum steps. It is observed that doubling the key length of one block cipher could achieve a similar amount of security against quantum attackers. However, Kuwakado and Morii [4] identified a new family of quantum attacks that target certain generic constructions of secret key schemes. They exhibited that the Even-Mansour ciphers could be broken in polynomial time using Simon's algorithm [9], which could estimate the period of a periodic function in polynomial time in case of a quantum computer. Kaplan et al. [5] revealed that several widely used modes of operation for authentication and authenticated encryption, such as CBC-MAC, PMAC, GMAC and some CAESAR candidates, could also be broken by Simon's algorithm.</p>

    <p class="text-gray-300">Feistel block ciphers [10] are observed to be important and constitute one of the extensively researched cryptographic schemes. Several block cipher standards, such as DES, Triple-DES, MISTY1, Camellia, and CAST-128 [11], are based on the Feistel design. In a seminal work, Luby and Rackoff [12] proved that a three-round Feistel scheme can securely perform pseudo-random permutation. However, Kuwakado and Morii [13] introduced a quantum distinguisher attack on 3-round Feistel ciphers, that could distinguish between the cipher and a random permutation in polynomial time. In a classical setting, Dinur et al. [14] generated a series of key-recovery attacks on 5- to 32-round Feistel ciphers. However, there are no key-recovery attacks that are observed on Feistel ciphers in the qCPA setting.</p>

    <p class="text-gray-300">In this study, we consider the quantum key-recovery attack on Feistel schemes for the very first time. As depicted in Figure 1, in the  <span class="math">i</span> th round of the Feistel structure, the  <span class="math">n</span> -bit blocks were divided into two equal parts,  <span class="math">(x_{L_{i-1}}, x_{R_{i-1}})</span> , whereas the  <span class="math">n/2</span> -bit subkeys  <span class="math">k_i</span>  were wrapped into the round function,  <span class="math">F_i</span> . The output is  <span class="math">(x_{L_i}, x_{R_i})</span> . Similar to the attacks of Dinur et al. [14], our attacks also constitute generic attacks that assume that the round functions in each round of the Feistel cipher are not necessarily identical and that the round keys,  <span class="math">k_i</span> , are independent of each other. Hence, using Grover's algorithm to perform a brute-force search on all the subkeys,  <span class="math">k_i</span> , of an  <span class="math">r</span> -round Feistel cipher will require  <span class="math">2^{nr/4}</span>  quantum queries. We combine Grover's and Simon's algorithms to generate a series of quantum key-recovery attacks on different rounds of Feistel structures. Our attacks require  <span class="math">2^{nr/4-3n/4}</span>  quantum queries, which reduces the time complexity by a factor of  <span class="math">2^{0.75n}</span>  as compared with that observed in the quantum brute-force search. When compared with the best classical attacks, i.e., those observed by Dinur et al. [14], our results reduce the time complexity by a factor of  <span class="math">2^{0.5n}</span>  without incurring any memory cost. All the results are summarized in Table 1.</p>

    <p class="text-gray-300">Our quantum attacks are based on two of the most popular quantum algorithms, namely Simon's algorithm [9] and Grover's algorithm [8].</p>

    <p class="text-gray-300">Simon's Problem. Given a Boolean function,  <span class="math">f: \\{0,1\\}^n \\to \\{0,1\\}^n</span> , that is observed to be invariant under some  <span class="math">n</span> -bit XOR period  <span class="math">a</span> , find  <span class="math">a</span> . In other words, find  <span class="math">a</span>  when  <span class="math">f(x) = f(y) \\leftrightarrow x \\oplus y \\in \\{0^n, a\\}</span>  is given.</p>

    <p class="text-gray-300">Dong X Y, et al. Sci China Inf Sci</p>

    <p class="text-gray-300">Table 1 Summary of the key-recovery attacks on Feistel schemes in classical and qCPA settings</p>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600"></th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">Classical setting</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600"></th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">qCPA setting</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600"></th>

          </tr>

        </thead>

        <tbody>

          <tr>

            <td class="px-3 py-2 border-b border-gray-700"></td>

            <td class="px-3 py-2 border-b border-gray-700">Dinur et al. [14]</td>

            <td class="px-3 py-2 border-b border-gray-700"></td>

            <td class="px-3 py-2 border-b border-gray-700">Trivial bound</td>

            <td class="px-3 py-2 border-b border-gray-700">Ours</td>

          </tr>

          <tr>

            <td class="px-3 py-2 border-b border-gray-700">Rounds</td>

            <td class="px-3 py-2 border-b border-gray-700">Time</td>

            <td class="px-3 py-2 border-b border-gray-700">Memory</td>

            <td class="px-3 py-2 border-b border-gray-700">Time</td>

            <td class="px-3 py-2 border-b border-gray-700"></td>

          </tr>

          <tr>

            <td class="px-3 py-2 border-b border-gray-700">5</td>

            <td class="px-3 py-2 border-b border-gray-700">2n</td>

            <td class="px-3 py-2 border-b border-gray-700">20.5n</td>

            <td class="px-3 py-2 border-b border-gray-700">21.25n</td>

            <td class="px-3 py-2 border-b border-gray-700">20.5n</td>

          </tr>

          <tr>

            <td class="px-3 py-2 border-b border-gray-700">7</td>

            <td class="px-3 py-2 border-b border-gray-700">21.5n</td>

            <td class="px-3 py-2 border-b border-gray-700">2n</td>

            <td class="px-3 py-2 border-b border-gray-700">21.75n</td>

            <td class="px-3 py-2 border-b border-gray-700">2n</td>

          </tr>

          <tr>

            <td class="px-3 py-2 border-b border-gray-700">8</td>

            <td class="px-3 py-2 border-b border-gray-700">21.75n</td>

            <td class="px-3 py-2 border-b border-gray-700">21.25n</td>

            <td class="px-3 py-2 border-b border-gray-700">22n</td>

            <td class="px-3 py-2 border-b border-gray-700">21.25n</td>

          </tr>

          <tr>

            <td class="px-3 py-2 border-b border-gray-700">15</td>

            <td class="px-3 py-2 border-b border-gray-700">23.5n</td>

            <td class="px-3 py-2 border-b border-gray-700">22n</td>

            <td class="px-3 py-2 border-b border-gray-700">23.75n</td>

            <td class="px-3 py-2 border-b border-gray-700">23n</td>

          </tr>

          <tr>

            <td class="px-3 py-2 border-b border-gray-700">31</td>

            <td class="px-3 py-2 border-b border-gray-700">27.5n</td>

            <td class="px-3 py-2 border-b border-gray-700">24n</td>

            <td class="px-3 py-2 border-b border-gray-700">27.75n</td>

            <td class="px-3 py-2 border-b border-gray-700">27n</td>

          </tr>

          <tr>

            <td class="px-3 py-2 border-b border-gray-700">32</td>

            <td class="px-3 py-2 border-b border-gray-700">27.75n</td>

            <td class="px-3 py-2 border-b border-gray-700">27.25n</td>

            <td class="px-3 py-2 border-b border-gray-700">28n</td>

            <td class="px-3 py-2 border-b border-gray-700">27.25n</td>

          </tr>

        </tbody>

      </table>

    </div>

    <p class="text-gray-300">The optimal time to solve the problem is  <span class="math">\\mathcal{O}(2^{n/2})</span> . However, Simon [9] presents a quantum algorithm that provides exponential speedup and requires only  <span class="math">\\mathcal{O}(n)</span>  quantum queries to find  <span class="math">a</span> . The algorithm includes five quantum steps that are as follows:</p>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">I. Initialization of two  <span class="math">n</span> -bit quantum registers to state  $</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">0\\rangle^{\\otimes n}</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">0\\rangle^{\\otimes n}$ . Then apply the Hadamard transform to the first register to attain an equal superposition in the following manner:</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <div class="my-4 text-center"><span class="math-block"></span></div>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">H ^ {\\otimes n}</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">0 \\rangle</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">0 \\rangle = \\frac {1}{\\sqrt {2 ^ {n}}} \\sum_ {x \\in \\{0, 1 \\} ^ {n}}</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">x \\rangle</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">0 \\rangle . \\tag {1}</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <div class="my-4 text-center"><span class="math-block"></span></div>

    <p class="text-gray-300">II. A quantum query to the function  <span class="math">f</span>  maps this to</p>

    <div class="my-4 text-center"><span class="math-block"></span></div>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\frac {1}{\\sqrt {2 ^ {n}}} \\sum_ {x \\in \\{0, 1 \\} ^ {n}}</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">x \\rangle</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">f (x) \\rangle .</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <div class="my-4 text-center"><span class="math-block"></span></div>

    <p class="text-gray-300">III. While measuring the second register, the first register is observed to collapse to the following state:</p>

    <div class="my-4 text-center"><span class="math-block"></span></div>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\frac {1}{\\sqrt {2}} (</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">z \\rangle +</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">z \\oplus a \\rangle).</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <div class="my-4 text-center"><span class="math-block"></span></div>

    <p class="text-gray-300">IV. Applying the Hadamard transform to the first register, we obtain:</p>

    <div class="my-4 text-center"><span class="math-block"></span></div>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\frac {1}{\\sqrt {2}} \\frac {1}{\\sqrt {2 ^ {n}}} \\sum_ {y \\in \\{0, 1 \\} ^ {n}} (- 1) ^ {y \\cdot z} (1 + (- 1) ^ {y \\cdot a})</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">y \\rangle .</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <div class="my-4 text-center"><span class="math-block"></span></div>

    <p class="text-gray-300">V. The vectors,  <span class="math">y</span> , are selected such that  <span class="math">y \\cdot a = 1</span>  depict an amplitude of zero. Hence, measuring the state yields a value,  <span class="math">y</span> , which depicts that  <span class="math">y \\cdot a = 0</span> .</p>

    <p class="text-gray-300">Repeat  <span class="math">\\mathcal{O}(n)</span>  times, we can obtain  <span class="math">a</span>  by solving a system of linear equations.</p>

    <p class="text-gray-300">Kuwakado and Morii [4] used Simon's algorithm to break the Even-Mansour (EM) cipher [3]. For a given permutation  <span class="math">P</span> , the EM cipher is  <span class="math">Enc(x) = P(x \\oplus k_1) \\oplus k_2</span> . Classically, an EM cipher is secure for up to  <span class="math">2^{n/2}</span>  queries, where  <span class="math">n</span>  is the input size of  <span class="math">P</span> . However, using Simon's algorithm [9], Kuwakado and Morii [4] presented a quantum key-recovery attack on EM ciphers with a time complexity of  <span class="math">\\mathcal{O}(n)</span> . They define  <span class="math">f(x) = Enc(x) \\oplus P(x) = P(x \\oplus k_1) \\oplus P(x) \\oplus k_2</span> . Clearly, it is a periodic function that satisfies  <span class="math">f(x \\oplus k_1) = f(x)</span> .</p>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">Grover's Algorithm. Given a set,  <span class="math">X</span> , in which some elements are marked, the objective is to find a marked element from  <span class="math">X</span> . We denote the subset of the marked elements by  <span class="math">M \\subseteq X</span> . Classically, one can solve the problem in a time of  $</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">X</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">/</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">M</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600"><span class="math"> . However, in a quantum computer, the problem is solved with high probability in a time of  </span>\\sqrt{</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">X</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">/</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">M</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">}$  using Grover's algorithm. The steps of the algorithm are as follows:</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <p class="text-gray-300">Dong X Y, et al. Sci China Inf Sci</p>

    <p class="text-gray-300">!<a href="img-1.jpeg">img-1.jpeg</a> Figure 2 FX constructions</p>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">I. Initialization of a  <span class="math">n</span> -bit register  $</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">0\\rangle^{\\otimes n}$ . Apply the Hadamard transform to the first register to attain an equal superposition that can be given as follows:</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <div class="my-4 text-center"><span class="math-block"></span></div>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">H ^ {\\otimes n}</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">0 \\rangle = \\frac {1}{\\sqrt {2 ^ {n}}} \\sum_ {x \\in \\{0, 1 \\} ^ {n}}</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">x \\rangle =</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\varphi \\rangle . \\tag {2}</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <div class="my-4 text-center"><span class="math-block"></span></div>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">II. Construct an oracle  <span class="math">\\mathcal{O}</span> :  $</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">x\\rangle \\xrightarrow{\\mathcal{O}} (-1)^{f(x)}</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">x\\rangle<span class="math"> , where  </span>f(x) = 1<span class="math">  if  </span>x<span class="math">  is the correct state; otherwise,  </span>f(x) = 0$ .</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <p class="text-gray-300">III. Apply Grover's iteration  <span class="math">R \\approx \\frac{\\pi}{4}\\sqrt{2^n}</span>  times that can be given as follows:</p>

    <div class="my-4 text-center"><span class="math-block"></span></div>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">[ (2</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\varphi \\rangle \\langle \\varphi</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">- I) \\mathcal {O} ] ^ {R}</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\varphi \\rangle \\approx</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">x _ {0} \\rangle .</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <div class="my-4 text-center"><span class="math-block"></span></div>

    <p class="text-gray-300">IV. return  <span class="math">x_0</span> .</p>

    <p class="text-gray-300">Further, Brassard et al. [15] generalized the Grover search as an amplitude amplification method.</p>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">Theorem 1. (Brassard, Hoyer, Mosca and Tapp [15]). Let  <span class="math">\\mathcal{A}</span>  be any quantum algorithm on  <span class="math">q</span>  qubits that performs no measurement. Let  <span class="math">\\mathcal{B}:\\mathbb{F}_2^q\\to \\{0,1\\}</span>  be a function that classifies the outcomes of  <span class="math">\\mathcal{A}</span>  as either good or bad state. Let  <span class="math">p &amp;gt; 0</span>  be the initial success probability that the measurement of  $\\mathcal{A}</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">0\\rangle<span class="math">  is good. Set  </span>k = \\lceil \\frac{\\pi}{4\\theta}\\rceil<span class="math"> , where  </span>\\theta<span class="math">  is defined using  </span>\\sin^2 (\\theta) = p<span class="math"> . Furthermore, define the unitary operator  </span>Q = -\\mathcal{A}S_0\\mathcal{A}^{-1}S_{\\mathcal{B}}<span class="math"> , where the operator  </span>S_{\\mathcal{B}}$  changes the sign of the good state,</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <div class="my-4 text-center"><span class="math-block"></span></div>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">x \\rangle \\mapsto \\left\\{ \\begin{array}{c} -</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">x \\rangle \\text { if } \\mathcal {B} (x) = 1, \\\\</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">x \\rangle \\text { if } \\mathcal {B} (x) = 0. \\end{array} \\right.</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <div class="my-4 text-center"><span class="math-block"></span></div>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">Further,  <span class="math">S_0</span>  changes the sign of the amplitude only in case of the zero state  $</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">0\\rangle<span class="math"> . Finally, after performing the computation of  </span>Q^k\\mathcal{A}</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">0\\rangle<span class="math"> , the measurement yields a good state with probability a least  </span>\\max \\{1 - p,p\\}$ .</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">Assume that  $</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\varphi \\rangle = \\mathcal{A}</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">0\\rangle<span class="math">  is the initial vector, whose projections on the good and the bad subspace are denoted by  </span></th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\varphi_1\\rangle<span class="math">  and  </span></th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\varphi_0\\rangle<span class="math"> , respectively. The state  </span></th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\varphi \\rangle = \\mathcal{A}</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">0\\rangle<span class="math">  exhibits an  </span>\\theta<span class="math">  with a bad subspace, where  </span>\\sin^2 (\\theta) = p<span class="math"> . Each  </span>Q<span class="math">  iteration increases the angle to  </span>2\\theta<span class="math"> . Hence, after  </span>k \\approx \\frac{\\pi}{4\\theta}<span class="math"> , the angle is observed to be approximately equal to  </span>\\pi / 2<span class="math"> . Therefore, the state after  </span>k$  iterations is almost orthogonal to that of the bad subspace. After measurement, it produces a good vector with high probability.</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <p class="text-gray-300">At Asiacrypt 2017, Leander and May [16] presented a quantum key-recovery attack on FX-construction, which were introduced by Kilian and Rogaway to strengthen DES [17], as shown in Figure 2:  <span class="math">Enc(x) = E_{k_0}(x \\oplus k_1) \\oplus k_2</span> . They introduce the function  <span class="math">f(k,x) = Enc(x) \\oplus E_k(x) = E_{k_0}(x \\oplus k_1) \\oplus k_2 \\oplus E_k(x)</span> . For the correct guess of the key  <span class="math">k = k_0</span> , we have  <span class="math">f(k,x) = f(k,x \\oplus k_1)</span>  for all  <span class="math">x</span> . However, for  <span class="math">k \\neq k_0</span> ,  <span class="math">f(k,\\cdot)</span>  is not periodic. They combined Simon's and Grover's algorithms to attack several FX-based ciphers (PRINCE [18], PRIDE [19], DESX [17]) in the qCPA setting with a complexity of approximately  <span class="math">2^{32}</span> .</p>

    <p class="text-gray-300">The Feistel structure is a very commonly used structure to build block ciphers. Here, we present a 5-round quantum key-recovery attack on Feistel structures. As depicted in Figure 3,  <span class="math">F_{i}</span>  is the  <span class="math">i</span> th round function that absorbs the independent round key  <span class="math">k_{i}</span> . Suppose the state size is  <span class="math">n</span> , then the length of  <span class="math">k_{i}</span>  is</p>

    <p class="text-gray-300">Dong X Y, et al. Sci China Inf Sci</p>

    <p class="text-gray-300">!<a href="img-2.jpeg">img-2.jpeg</a> Figure 3 Quantum key-recovery attack on 5-round Feistel structures</p>

    <p class="text-gray-300"><span class="math">n / 2</span> . Dinur et al. [14] recovers the complete key  <span class="math">(k_{1}, k_{2}, k_{3}, k_{4}, k_{5})</span>  of the 5-round Feistel cipher with  <span class="math">2^{n}</span>  classical queries on the cipher. In a quantum computer, we can use Grover's search algorithm to observe all the round keys with  <span class="math">2^{1.25n}</span>  quantum queries. Therefore, we have to construct a quantum algorithm that exhibits less time complexity than both  <span class="math">2^{n}</span>  and  <span class="math">2^{1.25n}</span> . Inspired by Leander and May's study [16], we combine Grover's and Simon's algorithms to observe the round keys.</p>

    <p class="text-gray-300">Kuwakado and Morii [13] introduced a quantum distinguish attack on 3-round Feistel schemes by using Simon's algorithm. As depicted in Figure 3, we place the 3-round distinguisher part in the dashed box.</p>

    <p class="text-gray-300">The following functions are defined:</p>

    <div class="my-4 text-center"><span class="math-block">f (b, x _ {R _ {0}}) = F _ {2} \\left(k _ {2}, x _ {R _ {0}} \\oplus F _ {1} \\left(k _ {1}, \\alpha_ {b}\\right)\\right) = \\alpha_ {b} \\oplus x _ {R _ {3}} = \\alpha_ {b} \\oplus F _ {4} \\left(k _ {4}, F _ {5} \\left(k _ {5}, x _ {R _ {5}}\\right) \\oplus x _ {L _ {5}}\\right) \\oplus x _ {R _ {5}} \\tag {3}</span></div>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">where  <span class="math">b \\in \\mathbb{F}_2</span> ,  <span class="math">\\alpha_b \\in \\mathbb{F}_2^{n/2}</span>  is an arbitrary constant and  <span class="math">\\alpha_0 \\neq \\alpha_1</span> ,  $(x_{L_5} \\</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">x_{R_5}) = Enc(\\alpha_b \\</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">x_{R_0})<span class="math"> . It is easy to verify that  </span>f(b, x_{R_0}) = f(b \\oplus 1, x_{R_0} \\oplus F_1(k_1, \\alpha_0) \\oplus F_1(k_1, \\alpha_1))<span class="math"> . Therefore, using the accurate guess of the key  </span>(k_4, k_5)<span class="math"> ,  </span>f(b, x_{R_0}) = \\alpha_b \\oplus F_4(k_4, F_5(k_5, x_{R_5}) \\oplus x_{L_5})<span class="math">  has a nontrivial period  </span>s = 1 \\</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">F_1(k_1, \\alpha_0) \\oplus F_1(k_1, \\alpha_1)<span class="math"> . However, if the guessed  </span>(k_4, k_5)<span class="math">  is wrong,  </span>f(b, x_{R_0})$  will be a random function that is not periodic with high probability.</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <p class="text-gray-300">Theorem 2. Let  <span class="math">g \\colon \\mathbb{F}_2^{n/2} \\times \\mathbb{F}_2^{n/2} \\times \\mathbb{F}_2^{n/2+1} \\mapsto \\mathbb{F}_2^{n/2}</span>  with</p>

    <div class="my-4 text-center"><span class="math-block">\\left(k _ {4}, k _ {5}, y\\right) \\mapsto f (y) = f \\left(b, x _ {R _ {0}}\\right) = \\alpha_ {b} \\oplus F _ {4} \\left(k _ {4}, F _ {5} \\left(k _ {5}, x _ {R _ {5}}\\right) \\oplus x _ {L _ {5}}\\right) \\oplus x _ {R _ {5}},</span></div>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">where  $y = b\\</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">x_{R_0}<span class="math"> ,  </span>\\alpha_0, \\alpha_1<span class="math">  are two arbitrary constants, and  </span>(x_{L_5}\\</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">x_{R_5}) = Enc(\\alpha_b\\</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">x_{R_0})<span class="math"> . Given quantum oracles of  </span>g<span class="math">  and  </span>Enc<span class="math"> ,  </span>(k_4,k_5)<span class="math">  and  </span>F_{1}(k_{1},\\alpha_{0})\\oplus F_{1}(k_{1},\\alpha_{1})<span class="math">  could be computed using  </span>n + (n + 1)(n + 2 + 2\\sqrt{n / 2 + 1})<span class="math">  qubits and approximately  </span>2^{n / 2}$  quantum queries.</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <p class="text-gray-300">Under the accurate guess of the key  <span class="math">k_4, k_5</span> ,  <span class="math">g(k_4, k_5, y) = g(k_4, k_5, y \\oplus s)</span> , let  <span class="math">h: \\mathbb{F}_2^n \\times \\mathbb{F}_2^{(n/2+1)^l} \\mapsto \\mathbb{F}_2^{(n/2)^l}</span>  with</p>

    <div class="my-4 text-center"><span class="math-block"></span></div>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\left(k _ {4}, k _ {5}, y _ {1}, \\dots , y _ {l}\\right) \\mapsto g \\left(k _ {4}, k _ {5}, y _ {1}\\right) \\</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\dots \\</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">g \\left(k _ {4}, k _ {5}, y _ {l}\\right). \\tag {4}</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <div class="my-4 text-center"><span class="math-block"></span></div>

    <p class="text-gray-300">Let  <span class="math">U_{h}</span>  be a quantum oracle that maps</p>

    <div class="my-4 text-center"><span class="math-block"></span></div>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\left</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">k _ {4}, k _ {5}, y _ {1}, \\dots , y _ {l}, \\mathbf {0}, \\dots , \\mathbf {0} \\right\\rangle \\mapsto \\left</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">k _ {4}, k _ {5}, y _ {1}, \\dots , y _ {l}, h \\left(k _ {4}, k _ {5}, y _ {1}, \\dots , y _ {l}\\right) \\right\\rangle . \\tag {5}</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <div class="my-4 text-center"><span class="math-block"></span></div>

    <p class="text-gray-300">We construct the following quantum algorithm  <span class="math">\\mathcal{A}</span> .</p>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">1. Preparing the initial <span class="math">(n+(n/2+1)l+nl/2)</span>-qubit state $</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\mathbf{0}\\rangle$.</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <ol class="list-decimal list-inside space-y-1 text-gray-300 my-2 ml-4">

      <li>Apply Hadamard <span class="math">H^{\\otimes n+(n/2+1)l}</span> on the first <span class="math">n+(n/2+1)l</span> qubits resulting in</li>

    </ol>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">$\\sum_{k_{4},k_{5}\\in\\mathbb{F}_{2}^{n/2},y_{1},...,y_{l}\\in\\mathbb{F}_{2}^{n/2+1}}</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">k_{4},k_{5}\\rangle</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">y_{1}\\rangle...</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">y_{l}\\rangle</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\mathbf{0}\\rangle,$ (6)</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <p class="text-gray-300">where we omit the amplitudes <span class="math">2^{-(n+(n/2+1)l)/2}</span>.</p>

    <ol class="list-decimal list-inside space-y-1 text-gray-300 my-2 ml-4">

      <li>Applying <span class="math">U_{h}</span> to the above state, we get:</li>

    </ol>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">$\\sum_{k_{4},k_{5}\\in\\mathbb{F}_{2}^{n/2},y_{1},...,y_{l}\\in\\mathbb{F}_{2}^{n/2+1}}</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">k_{4},k_{5}\\rangle</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">y_{1}\\rangle...</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">y_{l}\\rangle</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">h(k_{4},k_{5},y_{1},...,y_{l})\\rangle.$ (7)</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">$</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\varphi\\rangle=\\sum_{k_{4},k_{5}\\in\\mathbb{F}_{2}^{n/2},u_{1},...,u_{l},y_{1},...,y_{l}\\in\\mathbb{F}_{2}^{n/2+1}}</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">k_{4},k_{5}\\rangle(-1)^{\\langle u_{1},y_{1}\\rangle}</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">u_{1}\\rangle...(-1)^{\\langle u_{l},y_{l}\\rangle}</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">u_{l}\\rangle</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">h(k_{4},k_{5},y_{1},...,y_{l})\\rangle.$ (8)</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">If the guessed <span class="math">k_{4},k_{5}</span> is right, the period <span class="math">s</span> is observed to be orthogonal to all the <span class="math">u_{1},...,u_{l}</span> after measuring $</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\varphi\\rangle<span class="math">. According to Lemma 4 of <em>[16]</em>, choosing </span>l=2(n/2+1+\\sqrt{n/2+1})<span class="math"> is enough to compute a unique </span>s$ .</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">Without measuring and considering the superposition $</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\varphi\\rangle<span class="math">, we assume that we had a classifier </span>\\mathcal{B}:\\mathbb{F}_{2}^{n+(n/2+1)l}\\mapsto\\{0,1\\}<span class="math">, that partitioned </span></th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\varphi\\rangle<span class="math"> into a good subspace and a bad subspace as follows: </span></th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\varphi\\rangle=</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\varphi_{1}\\rangle+</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\varphi_{0}\\rangle<span class="math">, where </span></th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\varphi_{1}\\rangle<span class="math"> and </span></th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\varphi_{0}\\rangle<span class="math"> denotes the projection onto the good subspace and bad subspace, respectively. In case of the good subspace </span></th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">x\\rangle<span class="math">, we have </span>\\mathcal{B}(x)=1$.</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">Therefore, we define $</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\varphi_{1}\\rangle<span class="math"> as the sum of those basis states while accurately guessing the key </span>k_{4},k_{5}<span class="math">. However, the accuracy of </span>k_{4},k_{5}<span class="math"> could not be directly verified. The classifier, </span>\\mathcal{B}<span class="math">, could compute the period, </span>s<span class="math">, of </span>g(k_{4},k_{5},\\cdot)<span class="math"> by </span>k_{4},k_{5},u_{1},...,u_{l}<span class="math"> and verify whether </span>g(k_{4},k_{5},y)=g(k_{4},k_{5},y\\oplus s)<span class="math"> for a given </span>y$.</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <p class="text-gray-300">Classifier <span class="math">\\mathcal{B}</span>. Define <span class="math">\\mathcal{B}:\\mathbb{F}_{2}^{n+(n/2+1)l}\\mapsto\\{0,1\\}</span> that maps <span class="math">(k_{4},k_{5},u_{1},...,u_{l})\\mapsto\\{0,1\\}</span>.</p>

    <ol class="list-decimal list-inside space-y-1 text-gray-300 my-2 ml-4">

      <li>Let <span class="math">\\overline{U}=\\langle u_{1},...,u_{l}\\rangle</span> be the linear span of all <span class="math">u_{i}</span>. If <span class="math">dim(\\overline{U})\\neq n/2</span>, the output will be <span class="math">0</span>. Otherwise, use Lemma 4 of <em>[16]</em> to compute the unique period <span class="math">s</span>.</li>

      <li>Check <span class="math">g(k_{4},k_{5},y)=g(k_{4},k_{5},y\\oplus s)</span> for a randomly provided <span class="math">y</span>. If the identity holds, output will be equal to one. Else output will be zero.</li>

    </ol>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">We classify a state $</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">k_{4},k_{5}\\rangle</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">u_{1}\\rangle...</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">u_{l}\\rangle<span class="math"> to be good if and only if </span>\\mathcal{B}(k_{4},k_{5},u_{1},...,u_{l})=1<span class="math">. If we measure </span></th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\varphi\\rangle<span class="math">, it produces a good state with probability </span>p$.</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600"><span class="math">p</span> $=\\Pr[</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">k_{4},k_{5}\\rangle</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">u_{1}\\rangle...</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">u_{l}\\rangle\\text{ is good}]$ (9)</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <p class="text-gray-300">Our classifier <span class="math">\\mathcal{B}</span> defines a unitary operator <span class="math">S_{\\mathcal{B}}</span> that conditionally changes the sign of the quantum states that can be given as follows:</p>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\[</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">k_{4},k_{5}\\rangle</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">u_{1}\\rangle...</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">u_{l}\\rangle\\mapsto\\left\\{\\begin{array}[]{c}-</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">k_{4},k_{5}\\rangle</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">u_{1}\\rangle...</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">u_{l}\\rangle\\text{ if }\\mathcal{B}(k_{4},k_{5},u_{1},...,u_{l})=1,\\\\</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">The complete amplification process can be realized by repeatedly applying the unitary operator, <span class="math">Q=-\\mathcal{A}S_{0}\\mathcal{A}^{-1}S_{\\mathcal{B}}</span>, <span class="math">t</span> times to the state $</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\varphi\\rangle=\\mathcal{A}</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">0\\rangle<span class="math">, namely </span>Q^{t}\\mathcal{A}</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">0\\rangle$.</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <div class="overflow-x-auto my-4">

      <table class="min-w-full text-sm text-gray-300">

        <thead>

          <tr>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">Initially, the angle between $</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\varphi\\rangle=\\mathcal{A}</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">0\\rangle<span class="math"> and the bad subspace </span></th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\varphi_{0}\\rangle<span class="math"> is </span>\\theta<span class="math">, where </span>sin^{2}(\\theta)=p=\\langle\\varphi_{1}</th>

            <th class="px-3 py-2 text-left font-semibold border-b border-gray-600">\\varphi_{1}\\rangle<span class="math">. When </span>p<span class="math"> is small enough, </span>\\theta\\approx arcsin(\\sqrt{p})\\approx 2^{-\\frac{n}{2}}<span class="math">. According to Theorem 1, after </span>k=\\lceil\\frac{\\pi}{4\\theta}\\rceil=\\lceil\\frac{\\pi}{4\\times 2^{-\\frac{n}{2}}}\\rceil<span class="math"> Grover iterations </span>Q$, the angle between the resulting state and the bad subspace was observed to be</th>

          </tr>

        </thead>

        <tbody>

        </tbody>

      </table>

    </div>

    <p class="text-gray-300">approximately <span class="math">\\pi/2</span>. The probability <span class="math">P_{good}</span> that is used by the measurement to yield a good state is approximately <span class="math">sin^{2}(\\pi/2)=1</span>.</p>

    <p class="text-gray-300">The whole attack requires <span class="math">(n+(n/2+1)l+nl/2)=n+(n+1)(n+2+2\\sqrt{n/2+1})</span> qubits. Approximately <span class="math">k=\\lceil\\frac{\\pi}{4\\times 2^{-\\frac{n}{2}}}\\rceil=2^{n/2}</span> quantum queries are required. Similarly, we can recover <span class="math">k_{1},k_{2}</span> by placing the 3-round quantum distinguisher in the last three rounds, which indicates that a decryption quantum oracle of the 5-round Feistel structure is required.</p>

    <p class="text-gray-300">The quantum key-recovery attacks on 7-/8-/15-/31-/32-round Feistel structures depict a similar mechanism to that of the 5-round attack. The results are summarized in Table 1.</p>

    <h2 id="sec-5" class="text-2xl font-bold">4 Conclusion</h2>

    <p class="text-gray-300">In this study, we considered the first quantum key-recovery attack against Feistel structures. Inspired by Leander and Mays works, we combined Grovers and Simons algorithms to construct the attack. Our attacks required <span class="math">2^{nr/4-3n/4}</span> quantum queries. When compared with the quantum brute-force search, the time complexity is reduced by a factor of <span class="math">2^{0.75n}</span>. When compared with the best classical attacks, the time complexity is reduced by a factor of <span class="math">2^{0.5n}</span> without incurring any memory cost.</p>

    <h2 id="sec-6" class="text-2xl font-bold">Acknowledgement</h2>

    <p class="text-gray-300">This work is supported by the National Key Research and Development Program of China (No. 2017Y-FA0303903), the National Natural Science Foundation of China (No. 61672019), the Fundamental Research Funds of Shandong University (No. 2016JC029), National Cryptography Development Fund (No. MMJJ20170121), Zhejiang Province Key R&D Project (No. 2017C01062), Project funded by China Postdoctoral Science Foundation (No. 2017M620807).</p>

    <h2 id="sec-7" class="text-2xl font-bold">Conflict of interest</h2>

    <p class="text-gray-300">The authors declare that they have no conflict of interest.</p>

    <h2 id="sec-8" class="text-2xl font-bold">References</h2>

    <ul class="list-disc list-inside space-y-1 text-gray-300 my-2 ml-4">

      <li>[1] Shor P W. Polynomial-time algorithms for prime factorization and discrete logarithms on a quantum computer. SIAM Journal on Computing, 1997, 26(5): 14841509.</li>

      <li>[2] Rivest R L, Shamir A, Adleman L. A Method for obtaining digital signatures and public-key cryptosystems. Commun. ACM, 1978, 21(2): 120126.</li>

      <li>[3] Even S, Mansour Y. A construction of a cipher from a single pseudorandom permutation. Journal of Cryptology, 1997, 10(2): 151161.</li>

      <li>[4] Kuwakado H, Morii M. Security on the quantum-type even-mansour cipher. In: International symposium on information theory and its applications, ISITA 2012. IEEE, 2012. 312316.</li>

      <li>[5] Kaplan M, Leurent G, Leverrier A, et al. Breaking symmetric cryptosystems using quantum period finding. In: Robshaw M, Katz J, eds. Advances in Cryptology - CRYPTO 2016. Lecture Notes in Computer Science, Vol 9815. Berlin: Springer-Verlag, 2016. 207237.</li>

      <li>[6] Takagi T, Peyrin T. Advances in Cryptology - ASIACRYPT 2017, Part I. Lecture Notes in Computer Science, Vol 10624. Berlin: Springer-Verlag, 2017. 1-813.</li>

      <li>[7] Boneh D, Zhandry M. Secure signatures and chosen ciphertext security in a quantum computing world. In: Canetti R, Garay J A, eds. Advances in Cryptology - CRYPTO 2013. Lecture Notes in Computer Science, Vol 8043. Berlin: Springer-Verlag, 2013. 361379.</li>

      <li>[8] Grover L K. A fast quantum mechanical algorithm for database search. In: Miller G L, eds. Proceedings of STOC 1996. ACM, 1996. 212219.</li>

      <li>[9] Simon D R. On the power of quantum computation. SIAM Journal on Computing, 1997, 26(5):14741483.</li>

      <li>[10] Feistel H, Notz W A, Smith J L. Some cryptographic techniques for machine-to-machine data communications. In: Proceedings of the IEEE, 1975, 63(11): 15451554.</li>

      <li>[11] International Organization for Standardization(ISO). International Standard- ISO/IEC 18033-3, Information technology-Security techniques-Encryption algorithms -Part 3: Block ciphers. 2010.</li>

      <li>[12] Luby M G, Rackoff C. How to construct pseudorandom permutations from pseudorandom functions. SIAM Journal on Computing, 1988, 17(2):373386.</li>

      <li>[13] Kuwakado H, Morii M. Quantum distinguisher between the 3-round feistel cipher and the random permutation. In: International symposium on information theory, ISIT 2010. IEEE, 2010. 26822685.</li>

    </ul>

    <p class="text-gray-300">-</p>

    <p class="text-gray-300">Dong X Y, et al. Sci China Inf Sci</p>

    <ul class="list-disc list-inside space-y-1 text-gray-300 my-2 ml-4">

      <li>[14] Dinur I, Dunkelman O, Keller N, et al. New attacks on Feistel structures with improved memory complexities. In: Gennaro R, Robshaw M, eds. Advances in Cryptology - CRYPTO 2015, Part I. Lecture Notes in Computer Science, Vol 9215. Berlin: Springer-Verlag, 2015. 433454.</li>

      <li>[15] Brassard G, Hoyer P, Mosca M, et al. Quantum amplitude amplification and estimation. arXiv: Quantum Physics, 2000.</li>

      <li>[16] Leander G, May A. Grover meets simon - quantumly attacking the FX-construction. In: Takagi T, Peyrin T, eds. Advances in Cryptology - ASIACRYPT 2017, Part II. Lecture Notes in Computer Science, Vol 10625. Cham: Springer, 2017. 161178.</li>

      <li>[17] Kilian J, Rogaway P. How to Protect DES Against Exhaustive Key Search. In: Koblitz N, eds. Advances in Cryptology - CRYPTO 1996. Lecture Notes in Computer Science, Vol 1109. Berlin: Springer-Verlag, 1996. 252267.</li>

      <li>[18] Julia Borghoff, Canteaut A, Gneysu T, et al. PRINCE - A Low-Latency Block Cipher for Pervasive Computing Applications - Extended Abstract. In: Wang X Y, Sako K, eds. Advances in Cryptology - ASIACRYPT 2012. Lecture Notes in Computer Science, Vol 7658. Berlin: Springer-Verlag, 2012. 208225.</li>

      <li>[19] Albrecht M R, Driessen B, Kavun E B, et al. Block ciphers - focus on the linear layer (feat. PRIDE). In: Garay J A, Gennaro R, eds. Advances in Cryptology - CRYPTO 2014. Lecture Notes in Computer Science, Vol 8616. Berlin: Springer-Verlag, 2014. 5776.</li>

    </ul>`;
---

<BaseLayout title="Quantum Key-recovery Attack on Feistel Structures (2017/1199)">
  <article class="max-w-4xl mx-auto article-prose">
    <nav class="mb-8">
      <a href="/papers" class="text-blue-400 hover:text-blue-300">
        &larr; Back to Papers
      </a>
    </nav>

    <header class="mb-12">
      <h1 class="text-3xl font-bold mb-4"
        set:html={TITLE_HTML} />
      <p class="text-gray-400 mb-2"
        set:html={AUTHORS_HTML} />
      <p class="text-gray-500 text-sm mb-4">
        2017 &middot; eprint 2017/1199
      </p>
      <div class="flex gap-4 text-sm">
        <a
          href={EPRINT_URL}
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-400 hover:text-blue-300"
        >
          Paper (eprint) &rarr;
        </a>
      </div>
      <p class="mt-4 text-xs text-gray-500">
        All content below belongs to the original authors. This page
        reproduces the paper for educational purposes. Always
        <a
          href={EPRINT_URL}
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-400 hover:text-blue-300"
        >cite the original</a>.
      </p>
      <p class="mt-1 text-xs text-gray-600">
        Converted with: {CRAWLER} &middot; {CONVERTED_DATE}
      </p>
    </header>

    <Fragment set:html={CONTENT} />

  </article>
</BaseLayout>
